/* module css / no hubl variables */

.basic-grid.event-listing-module__articles {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
  }

  .event-listing-module__article-date {
    display: block;
  }

  /* mosaic-grid */
  .mosaic-grid.event-listing-module__articles {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
  }

  .mosaic-grid-box {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }

  .mosaic-grid .event-listing-module__article_wrp {
    width: 50%;
  }

  .mosaic-grid .event-listing-module__article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
  }

  .event-listing-module__article-item {
    position: relative;
    z-index: 2;
  }

  .mosaic-grid .event-listing-module__article-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .mosaic-grid .event-listing-module__article-image .g-module-macros-image {
    display: inline-block;
    height: 100%;
  }

  .mosaic-grid .event-listing-module__article-image .g-module-macros-image--img {
    max-width: 100%;
    height: 100% !important;
    object-fit: cover;
  }

  .event-listing-module__filters_wrp {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: flex-end;
    gap: 10px;
  }

  .event-listing-module__filters-bydate {
    text-align: right;
  }

  .event-listing-module__filters-bydate ul {
    list-style: none;
    text-align: left;
  }

  @media (max-width: 1200px) {
    .mosaic-grid .event-listing-module__article_wrp {
      width: 40%;
    }

    .mosaic-grid-box {
      width: 60%;
    }

    .mosaic-grid-box .event-listing-module__article_wrp {
      width: 50%;
    }
  }

  @media (max-width: 991.98px) {
    .mosaic-grid .event-listing-module__article_wrp {
      width: 100%;
    }

    .mosaic-grid-box {
      width: 100%;
    }

    .mosaic-grid-box .event-listing-module__article_wrp {
      width: 50%;
    }
  }

  @media (max-width: 700px) {
    .mosaic-grid-box .event-listing-module__article_wrp {
      width: 100%;
    }
  }
