<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{% import '../partials/link-attributes.html' %}
{% import '../../css/macros.css' %}
{%- macro render(module) -%}
  {%- if module.button_group|length > 0 -%}
    {% require_css %}
      <style>
        .buttons-wrp,
        .btn-block-wrp {
          justify-content: var(--module-alignment);
        }
        .buttons-wrp {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          width: 100%;
        }
        .btn-block-wrp {
          flex-basis: 100%;
          display: flex;
          flex-wrap: wrap;
        }
        .btn-full-width {
          width: 100%;
        }
        .btn {
          font-weight: initial;
          line-height: 1;
          gap: var(--root-button-icon-gap, .6ch);
        }
        .btn > svg,
        .btn > .button-image {
          width: auto;
          height: var(--root-button-icon-size, 1lh);
          fill: currentcolor;
        }
      </style>
    {% end_require_css %}
    {%- macro render_button_icon(item, position) -%}
      {%- if item.button_icon_position == position -%}
        {%- if item.add_button_icon == "image" and item.button_image.src -%}
          <img class="button-image"
            alt=""
            src="{{item.button_image.src}}"
            loading="lazy">
        {%- elif item.add_button_icon == "icon" and item.button_icon.name -%}
          {% icon
            name="{{item.button_icon.name}}"
            style="{{item.button_icon.type}}"
            unicode="{{item.button_icon.unicode}}"
            icon_set="{{item.button_icon.icon_set}}"
            purpose="decorative",
            no_wrapper=true
          %}
        {%- endif -%}
      {%- endif -%}
    {%- endmacro -%}
    <div class="buttons-wrp">
      {%- for item in module.button_group -%}
        {%- if item.button_style is containing 'custom' -%}
          <style>
            {%- scope_css -%}
              {%- if item.button_style == "custombutton" and item.button_custom_style -%}
                .btn{{loop.index}} {
                  {%- if item.custom_button_border_radius > 0 -%}
                    --border-radius: {{item.custom_button_border_radius ~ 'px'}};
                  {%- endif -%}
                  {{item.custom_button_font.css}}
                  {%- if item.custom_button_font.color -%}
                    --color: {{item.custom_button_font.color}};
                  {%- endif -%}
                  {%- if item.custom_button_background.css -%}
                    --bg: {{item.custom_button_background.css}};
                  {%- endif -%}
                  {{item.custom_button_border.css}}
                  {{item.custom_button_spacing.css}}
                }
                .btn{{loop.index}}:not(:active):hover {
                  color: var(--hover-color, var(--_color));
                  {%- if item.custom_button_hover.background.css -%}
                    --hover-bg: {{item.custom_button_hover.background.color}};
                  {%- endif -%}
                  {%- if item.custom_button_hover.color.css -%}
                    --hover-color: {{item.custom_button_hover.color.css}};
                  {%- endif -%}
                  {%- if item.custom_button_hover.border_color.css -%}
                    --hover-border: {{item.custom_button_hover.border_color.css}};
                  {%- endif -%}
                }
              {%- elif item.button_style == "customlink" and item.button_custom_style -%}
                .btn{{loop.index}} {
                  {{item.custom_link_font.css}}
                  {%- if item.custom_link_font.color -%}
                    --color: {{item.custom_link_font.color}};
                  {%- endif -%}
                  {%- if item.custom_link_underline -%}
                    text-decoration: {{item.custom_link_underline}};
                  {%- endif -%}
                }
                .btn{{loop.index}}:hover {
                  color: var(--hover-color, var(--_color));
                  {%- if item.custom_link_hover.color.css -%}
                    --hover-color: {{item.custom_link_hover.color.css}};
                  {%- endif -%}
                  {%- if item.custom_link_hover.underline -%}
                    text-decoration: {{item.custom_link_hover.underline}};
                  {%- endif -%}
                }
              {%- endif -%}
            {%- end_scope_css -%}
          </style>
        {%- endif -%}
        {%- if item.button_full_width != true and item.button_inline != true -%}
          <style>
            {%- scope_css -%}
              .btn-block-wrp{{loop.index}} {
                justify-content: {{horizontal_alignment_flexbox(item.button_alignment.horizontal_align)}};
              }
            {%- end_scope_css -%}
          </style>
        {%- endif -%}
        {%- if item.button_hide_text and item.button_image.src and item.add_button_icon == "image" or item.button_hide_text and item.button_icon.name and item.add_button_icon == "icon" -%}
          <style>
            {%- scope_css -%}
              .btn{{loop.index}} {
                min-width: 0;
              }
            {%- end_scope_css -%}
          </style>
        {%- endif -%}
        {# render CTA button #}
        {%- if item.button_style == 'cta' -%}
          {%- if item.button_inline ne true -%}
            <div class="btn-block-wrp btn-block-wrp{{loop.index}}">
          {%- endif -%}
          {% cta guid="{{item.button_cta}}" extra_classes="btn-cta" %}
          {%- if item.button_inline ne true -%}
            </div>
          {%- endif -%}
        {# render regular button #}
        {%- else -%}
          {%- if item.button_text -%}
            {%- if item.button_style == "customlink" or item.button_style == "linkonly" -%}
              {% set button_link_class = "btn-{{item.button_style}} btn btn{{loop.index}}" %}
            {%- else -%}
              {%- if item.button_hide_text and item.button_image.src and item.add_button_icon == "image" or item.button_hide_text and item.button_icon.name and item.add_button_icon == "icon" -%}
                {% set hide_text_class = 'class="visually-hidden"' %}
              {%- endif -%}
              {% set button_link_class = "btn-link btn-{{item.button_style}} btn btn{{loop.index}} btn-{{item.button_size}} {{'btn-full-width' if item.button_full_width}}" %}
            {%- endif -%}
            {%- if item.button_inline ne true -%}
              <div class="btn-block-wrp btn-block-wrp{{loop.index}}">
            {%- endif -%}
            <a {{link_attributes(item.button_link)}} class="{{button_link_class}} {{"stretched-link" if button_stretched_link}}">
              {{render_button_icon(item, "left")}}
              <span {{hide_text_class}}>
                {{item.button_text}}
              </span>
              {{render_button_icon(item, "right")}}
            </a>
            {%- if item.button_inline ne true -%}
              </div>
            {%- endif -%}
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endif -%}
{%- endmacro -%}
