<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{% import '../partials/link-attributes.html' %}
{% import '../../css/macros.css' %}
{%- macro render(module) -%}
  {%- if module.button_group|length > 0 -%}
    {% require_css %}
      <style>
        .btn-group-wrp-macro,
        .btn-block-wrp-macro {
          justify-content: var(--module-alignment);
        }
        .btn-group-wrp-macro {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          width: 100%;
          gap: var(--module-content-gap);
        }
        .btn-block-wrp-macro {
          flex-basis: 100%;
          display: flex;
          flex-wrap: wrap;
        }
        .btn-full-width {
          width: 100%;
        }
        .btn-link {
          line-height: 1;
          gap: var(--root-button-icon-gap, .9ch);
        }
        .btn-linkonly, .btn-customlink {
          --_macro-color: var(--module-hover-color, var(--custom-color, var(--module-color)));
          --_macro-hover-color: var(--module-hover-color, var(--custom-hover-color, var(--module-color)));
          color: var(--_macro-color, var(--color));
          transition-property: color;
          transition-duration: var(--root-transition-duration);
          transition-timing-function: var(--root-transition-timing-function);
        }
        .btn-linkonly:hover, .btn-customlink:hover {
          color: var(--_macro-hover-color, var(--hover-color));
        }
        :where(.btn-group-wrp-macro a) > :where(svg, .btn-image) {
          width: auto;
          height: var(--root-buttonlink-icon-size, 0.8lh);
          fill: currentcolor;
        }
        :where(.btn-link) > :where( svg, .btn-image) {
          height: var(--root-button-icon-size, 1.1lh);
        }
        :where(.btn-link) :where(.visually-hidden + svg, .visually-hidden + .btn-image) {
          height: var(--root-button-onlyicon-size, 1.6lh);
        }
      </style>
    {% end_require_css %}
    {%- macro render_button_icon(item, position) -%}
      {%- if item.button_icon_position == position -%}
        {%- if item.add_button_icon == "image" and item.button_image.src -%}
          <img class="btn-image"
            alt=""
            src="{{item.button_image.src}}"
            loading="lazy">
        {%- elif item.add_button_icon == "icon" and item.button_icon.name -%}
          {% icon
            name="{{item.button_icon.name}}"
            style="{{item.button_icon.type}}"
            unicode="{{item.button_icon.unicode}}"
            icon_set="{{item.button_icon.icon_set}}"
            purpose="decorative",
            no_wrapper=true
          %}
        {%- endif -%}
      {%- endif -%}
    {%- endmacro -%}
    <div class="btn-group-wrp-macro">
      {%- for item in module.button_group -%}
        {%- if item.button_style is containing 'custom' -%}
          <style>
            {%- scope_css -%}
              {%- if item.button_style == "custombutton" -%}
                .btn{{loop.index}} {
                  {%- if item.custom_button_border_radius > 0 -%}
                    --border-radius: {{item.custom_button_border_radius ~ 'px'}};
                  {%- endif -%}
                  {%- if item.custom_button_font.color -%}
                    --color: {{item.custom_button_font.color}};
                  {%- endif -%}
                  {%- if item.custom_button_background.css -%}
                    --bg: {{item.custom_button_background.css}};
                  {%- endif -%}
                  {% if item.custom_button_vertical_spacing %}
                    padding-top: {{item.custom_button_vertical_spacing ~ 'px'}};
                    padding-bottom: {{item.custom_button_vertical_spacing ~ 'px'}};
                  {% endif %}
                  {% if item.custom_button_horizontal_spacing %}
                    padding-left: {{item.custom_button_horizontal_spacing ~ 'px'}};
                    padding-right: {{item.custom_button_horizontal_spacing ~ 'px'}};
                  {% endif %}
                  {%- if item.custom_button_border_width > 0 -%}
                    border-width: {{item.custom_button_border_width ~ 'px'}};
                  {%- endif -%}
                  {%- if item.custom_button_border_color.css -%}
                    border-color: {{item.custom_button_border_color.css}};
                  {%- endif -%}
                  {{css_font_macro(item.custom_button_font, false)}}
                }
                .btn{{loop.index}}:not(:active):hover {
                  {%- if item.custom_button_hover.background.css -%}
                    --hover-bg: {{item.custom_button_hover.background.color}};
                  {%- endif -%}
                  {%- if item.custom_button_hover.color.css -%}
                    --hover-color: {{item.custom_button_hover.color.css}};
                  {%- endif -%}
                  {%- if item.custom_button_hover.border_color.css -%}
                    --hover-border: {{item.custom_button_hover.border_color.css}};
                  {%- endif -%}
                }
              {%- elif item.button_style == "customlink" -%}
                .btn{{loop.index}} {
                  {%- if item.custom_link_color.css -%}
                    --custom-color: {{item.custom_link_color.css}};
                  {%- endif -%}
                  {%- if item.custom_link_underline -%}
                    text-decoration: {{item.custom_link_underline}};
                  {%- endif -%}
                  {{css_font_macro(item.custom_link_font, false)}}
                }
                .btn{{loop.index}}:hover {
                  {%- if item.custom_link_hover.color.css -%}
                    --custom-hover-color: {{item.custom_link_hover.color.css}};
                  {%- endif -%}
                  {%- if item.custom_link_hover.underline -%}
                    text-decoration: {{item.custom_link_hover.underline}};
                  {%- endif -%}
                }
              {%- endif -%}
            {%- end_scope_css -%}
          </style>
        {%- endif -%}
        {%- if item.button_position == 'separate' -%}
          <style>
            {%- scope_css -%}
              .btn-block-wrp-macro{{loop.index}} {
                justify-content: {{item.button_alignment}};
              }
            {%- end_scope_css -%}
          </style>
        {%- endif -%}
        {%- if item.button_hide_text and item.button_image.src and item.add_button_icon == "image" or item.button_hide_text and item.button_icon.name and item.add_button_icon == "icon" -%}
          <style>
            {%- scope_css -%}
              .btn{{loop.index}} {
                min-width: 0;
              }
            {%- end_scope_css -%}
          </style>
        {%- endif -%}
        {# render CTA button #}
        {%- if item.button_style == 'cta' -%}
          {%- if item.button_position == 'separate' -%}
            <div class="btn-block-wrp-macro btn-block-wrp-macro{{loop.index}}">
          {%- endif -%}
          {% set cta_extra_classes = button_stretched_link and loop.last ? 'btn-cta cta-stretched-link' : 'btn-cta' %}
          {% cta guid="{{item.button_cta}}" extra_classes={{cta_extra_classes}} %}
          {%- if item.button_position == 'separate' -%}
            </div>
          {%- endif -%}
        {# render regular button #}
        {%- else -%}
          {%- if item.button_text -%}
            {%- if item.button_style == "customlink" or item.button_style == "linkonly" -%}
              {% set button_link_class = "btn-{{item.button_style}} btn{{loop.index}}" %}
            {%- else -%}
              {%- if item.button_hide_text and item.button_image.src and item.add_button_icon == "image" or item.button_hide_text and item.button_icon.name and item.add_button_icon == "icon" -%}
                {% set hide_text_class = 'class="visually-hidden"' %}
              {%- else -%}
                {% set hide_text_class = '' %}
              {%- endif -%}
              {% set button_link_class = "btn-link btn-{{item.button_style}} btn{{loop.index}} btn-{{item.button_size}} {{'btn-full-width' if item.button_position == 'fullwidth'}}" %}
            {%- endif -%}
            {%- if item.button_position == 'separate' -%}
              <div class="btn-block-wrp-macro btn-block-wrp-macro{{loop.index}}">
            {%- endif -%}
            <a {{link_attributes(item.button_link)}} class="{{button_link_class}} {{"stretched-link" if button_stretched_link and loop.last}}">
              {{render_button_icon(item, "left")}}
              <span {{hide_text_class}}>
                {{item.button_text}}
              </span>
              {{render_button_icon(item, "right")}}
            </a>
            {%- if item.button_position == 'separate' -%}
              </div>
            {%- endif -%}
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endif -%}
{%- endmacro -%}
