<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{%- macro render(buttons, style) -%}
  {%- if buttons|length > 0 -%}
    {% require_css %}
      <style>
        .buttons-wrp {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          width: 100%;
        }
        .btn-block-wrp {
          flex-basis: 100%;
          display: flex;
          flex-wrap: wrap;
        }
        .buttons-wrp,
        .btn-block-wrp {
          justify-content: var(--module-alignment);
        }
        .btn-full-width {
          width: 100%;
        }
        .buttons-wrp svg,
        .buttons-wrp .button-image {
          width: auto;
          height: 1.8ex;
          fill: currentcolor;
        }
      </style>
    {% end_require_css %}
    <style>
      {%- scope_css -%}
        {%- if style.custom_button_1.border_radius or style.custom_button_1.font.color or style.custom_button_1.font.size or style.custom_button_1.background.css or style.custom_button_1.font.style or style.custom_button_1.border.css or style.custom_button_1.spacing.css -%}
          .btn-custom1 {
            {%- if style.custom_button_1.border_radius and style.custom_button_1.border.top.width.value -%}
              --border-radius: {{style.custom_button_1.border_radius ~ 'px'}};
            {%- endif -%}
            {%- if style.custom_button_1.font.color -%}
              --color: {{style.custom_button_1.font.color}};
            {%- endif -%}
            {%- if style.custom_button_1.font.size -%}
              font-size: {{style.custom_button_1.font.size ~ 'px'}};
            {%- endif -%}
            {%- if style.custom_button_1.background.css -%}
              --bg: {{style.custom_button_1.background.css}};
            {%- endif -%}
            {%- if style.custom_button_1.font.style -%}
              {{style.custom_button_1.font.style}};
            {%- endif -%}
            {{style.custom_button_1.border.css}}
            {{style.custom_button_1.spacing.css}}
          }
        {%- endif -%}
        {%- if style.custom_button_1.hover.background.css or style.custom_button_1.hover.color.css or style.custom_button_1.hover.border_color.css -%}
          .btn-custom1:hover {
            {%- if style.custom_button_1.hover.background.css -%}
              --hover-bg: {{style.custom_button_1.hover.background.color}};
            {%- endif -%}
            {%- if style.custom_button_1.hover.color.css -%}
              --hover-color: {{style.custom_button_1.hover.color.css}};
            {%- endif -%}
            {%- if style.custom_button_1.hover.border_color.css -%}
              --hover-border: {{style.custom_button_1.hover.border_color.css}};
            {%- endif -%}
          }
        {%- endif -%}
        {%- if style.custom_button_2.border_radius or style.custom_button_2.font.color or style.custom_button_2.font.size or style.custom_button_2.background.css or style.custom_button_2.font.style or style.custom_button_2.border.css or style.custom_button_2.spacing.css -%}
          .btn-custom2 {
            {%- if style.custom_button_2.border_radius and style.custom_button_2.border.top.width.value -%}
              --border-radius: {{style.custom_button_2.border_radius ~ 'px'}};
            {%- endif -%}
            {%- if style.custom_button_2.font.color -%}
              --color: {{style.custom_button_2.font.color}};
            {%- endif -%}
            {%- if style.custom_button_2.font.size -%}
              font-size: {{style.custom_button_2.font.size ~ 'px'}};
            {%- endif -%}
            {%- if style.custom_button_2.background.css -%}
              --bg: {{style.custom_button_2.background.css}};
            {%- endif -%}
            {%- if style.custom_button_2.font.style -%}
              {{style.custom_button_2.font.style}};
            {%- endif -%}
            {{style.custom_button_2.border.css}}
            {{style.custom_button_2.spacing.css}}
          }
        {%- endif -%}
        {%- if style.custom_button_2.hover.background.css or style.custom_button_2.hover.color.css or style.custom_button_2.hover.border_color.css -%}
          .btn-custom2:hover {
            {%- if style.custom_button_2.hover.background.css -%}
              --hover-bg: {{style.custom_button_2.hover.background.color}};
            {%- endif -%}
            {%- if style.custom_button_2.hover.color.css -%}
              --hover-color: {{style.custom_button_2.hover.color.css}};
            {%- endif -%}
            {%- if style.custom_button_2.hover.border_color.css -%}
              --hover-border: {{style.custom_button_2.hover.border_color.css}};
            {%- endif -%}
          }
        {%- endif -%}
        {%- if style.custom_link.font.style or style.custom_link.font.size or style.custom_link.font.color or style.custom_link.underline -%}
          .btn-customlink {
            {%- if style.custom_link.font.style -%}
              {{style.custom_link.font.style}};
            {%- endif -%}
            {%- if style.custom_link.font.size -%}
              font-size: {{style.custom_link.font.size ~ 'px'}};
            {%- endif -%}
            {%- if style.custom_link.font.color -%}
              --color: {{style.custom_link.font.color}};
            {%- endif -%}
            {%- if style.custom_link.underline -%}
              text-decoration: {{style.custom_link.underline}};
            {%- endif -%}
          }
        {%- endif -%}
        {%- if style.custom_link.hover.color.css or style.custom_link.hover.underline -%}
          .btn-customlink:hover {
            {%- if style.custom_link.hover.color.css -%}
              --hover-color: {{style.custom_link.hover.color.css}};
            {%- endif -%}
            {%- if style.custom_link.hover.underline -%}
              text-decoration: {{style.custom_link.hover.underline}};
            {%- endif -%}
          }
        {%- endif -%}
      {%- end_scope_css -%}
    </style>
    {%- macro render_button_icon(item, position) -%}
      {%- if item.icon_position == position -%}
        {%- if item.add_icon_or_image == "image" -%}
          <img class="button-image"
            alt=""
            src="{{item.btn_image.src}}"
            loading="lazy">
        {%- elif item.add_icon_or_image == "icon" -%}
          {% icon
            name="{{item.btn_icon.name}}"
            style="{{item.btn_icon.type}}"
            unicode="{{item.btn_icon.unicode}}"
            icon_set="{{item.btn_icon.icon_set}}"
            purpose="decorative",
            no_wrapper=true
          %}
        {%- endif -%}
      {%- endif -%}
    {%- endmacro -%}
    <div class="buttons-wrp">
      {%- for item in buttons -%}
        {# render CTA button #}
        {%- if item.button_style == 'cta' -%}
            {%- if item.inline ne true -%}
              <div class="btn-block-wrp">
            {%- endif -%}
            {% cta guid="{{item.cta}}" extra_classes="btn-cta" %}
            {%- if item.inline ne true -%}
              </div>
            {%- endif -%}
        {# render regular button #}
        {%- else -%}
          {%- if item.button_text -%}
            {%- if item.button_style ne "linkonly" and item.button_style ne "customlink" -%}
              {% set btn_link_class = "btn-link btn-{{item.button_style}} btn-{{item.button_size}} {{'btn-full-width' if item.button_full_width}}" %}
            {%- else -%}
              {% set btn_link_class = "btn-{{item.button_style}}" %}
            {%- endif -%}
            {%- if item.button.rel -%}
              {% set rel = 'rel="{{item.button.rel}}"' %}
            {%- endif -%}
            {% set href = item.button.url.href %}
            {%- if item.button.url.type is equalto 'EMAIL_ADDRESS' -%}
              {% set href = 'mailto:' + href %}
            {%- endif -%}
            {%- if item.button.url.type is equalto 'PHONE_NUMBER' -%}
              {% set href = 'tel:' + href %}
            {%- endif -%}
            {%- if item.inline ne true -%}
              <div class="btn-block-wrp">
            {%- endif -%}
            <a href="{{href}}"
              class="{{btn_link_class}}
              {{"stretched-link" if btn_stretched_link}}"
              {% if item.button.open_in_new_tab %} target="_blank" {% endif %} {{rel}}>
              {{render_button_icon(item, "left")}}
              {{item.button_text}}
              {{render_button_icon(item, "right")}}
            </a>
            {%- if item.inline ne true -%}
              </div>
            {%- endif -%}
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endif -%}
{%- endmacro -%}
