<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{%- macro render(module) -%}
  {%- if module.full_width_image.src -%}
    {% require_css %}
      <style>
        .full-width-image-macro-wrp {
          width: 100%;
        }
        .full-width-image-macro {
          object-fit: cover;
          width: 100%;
          display: block;
          max-width: 100%;
          height: auto;
          position: absolute;
          top: 0;
          left: 0;
        }
      </style>
    {% end_require_css %}
    <div class="full-width-image-macro-wrp" style="aspect-ratio: {{module.aspect_ratio}}">
      <img class="full-width-image-macro"
        style="aspect-ratio: {{module.aspect_ratio}}"
        alt="{{module.full_width_image.alt}}"
        src="{{module.full_width_image.src}}"
        width="{{module.full_width_image.width}}"
        height="{{module.full_width_image.height}}"
        loading="lazy">
    </div>
  {%- endif -%}
{%- endmacro -%}
