<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{%- macro render(module) -%}
  {%- if module.full_width_image.src -%}
    {%- require_css -%}
      <style>
        .full-width-image-macro-wrp {
          width: 100%;
          z-index: -15;
        }
        .full-width-image-macro {
          object-fit: cover;
          width: 100%;
          display: block;
          max-width: 100%;
          height: auto;
        }
      </style>
    {%- end_require_css -%}
    {%- if module.force_full_width_image -%}
      <style>
        {%- scope_css -%}
          .full-width-image-macro-wrp {
            margin-left: calc(var(--module-padding-left) * -1);
            margin-right: calc(var(--module-padding-right) * -1);
            width: calc(100% + var(--module-padding-left) + var(--module-padding-right));
            {%- if module.force_full_width_image and loop.first -%}
              margin-top: calc(var(--module-padding-top) * -1);
              margin-bottom: 0.8rem;
            {%- elif module.force_full_width_image and loop.last -%}
              margin-bottom: calc(var(--module-padding-bottom) * -1);
            {%- endif -%}
          }
          .full-width-image-macro {
            {%- if module.force_full_width_image and loop.first -%}
              border-top-left-radius: var(--module-border-radius);
              border-top-right-radius: var(--module-border-radius);
            {%- elif module.force_full_width_image and loop.last -%}
              border-bottom-left-radius: var(--module-border-radius);
              border-bottom-right-radius: var(--module-border-radius);
            {%- endif -%}
          }
        {%- end_scope_css -%}
      </style>
    {%- endif -%}
    {%- if module.full_width_image_border_radius > 0 and module.force_full_width_image != true -%}
      <style>
        {%- scope_css -%}
          .full-width-image-macro {
            border-radius: {{module.full_width_image_border_radius ~ 'px'}};
          }
        {%- end_scope_css -%}
      </style>
    {%- endif -%}
    <div class="full-width-image-macro-wrp">
      <img class="full-width-image-macro"
        style="aspect-ratio: {{module.full_width_image_aspect_ratio}}"
        alt="{{module.full_width_image.alt}}"
        src="{{module.full_width_image.src}}"
        width="{{module.full_width_image.width}}"
        height="{{module.full_width_image.height}}"
        loading="lazy">
    </div>
  {%- endif -%}
{%- endmacro -%}
