<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{%- macro render(module) -%}
  {%- if module.icon.icon_inline_svg or module.icon.name -%}
    {% require_css %}
      <style>
        .icon-macro-wrp {
          display: inline-flex;
        }
      </style>
    {% end_require_css %}
    <style>
      {%- scope_css -%}
        .icon-macro-wrp > svg {
          width: {{module.icon_size ~ 'px'}};
          height: {{module.icon_size ~ 'px'}};
        }
        .icon-macro-wrp {
          {%- if module.icon_bg_color.css -%}
            background-color: {{module.icon_bg_color.css}};
          {%- endif -%}
          {% if module.icon_border_radius > 0 %}
            border-radius: {{module.icon_border_radius ~ '%'}};
          {%- endif -%}
          {% if module.icon_padding > 0 %}
            padding: {{module.icon_padding ~ 'px'}};
          {%- endif -%}
        }
        {%- if module.icon_color.css -%}
          .icon-macro-wrp > svg {
            fill: {{module.icon_color.css}};
          }
        {%- endif -%}
      {%- end_scope_css -%}
    </style>
  {%- endif -%}
  {%- if module.icon_type == 'fontawesome' -%}
    {%- if module.icon.name -%}
      {% icon
        extra_classes="icon-macro-wrp"
        name="{{module.icon.name}}"
        style="{{module.icon.type}}"
        unicode="{{module.icon.unicode}}"
        icon_set="{{module.icon.icon_set}}"
        purpose="decorative"
      %}
    {%- endif -%}
  {%- elif module.icon_type == 'icon_inline_svg' -%}
    {%- if module.icon_inline_svg -%}
      <div class="icon-macro-wrp">{{module.icon_inline_svg}}</div>
    {%- endif -%}
  {%- endif -%}
{%- endmacro -%}
