<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{%- macro render(module) -%}
  {%- if module.lottie_file -%}
    {{require_js(get_asset_url('../../assets/js/dotlottie.js'), {defer: true})}}
    {% require_js %}
      <script>
        function runDotLottie () {
          const dotLottieCanvas = document.getElementsByClassName('dotlottie-canvas')
          if (!dotLottieCanvas) return
          for (const item of dotLottieCanvas) {
            // set lottie alignment based on module alignment
            let lottieAlignment = window.getComputedStyle(item.closest('[class*="module"]')).getPropertyValue('--module-alignment')
            if (lottieAlignment === 'start') {
              lottieAlignment = [0, 0.5]
            } else if (lottieAlignment === 'center') {
              lottieAlignment = [0.5, 0.5]
            } else if (lottieAlignment === 'end') {
              lottieAlignment = [1, 0.5]
            } else {
              lottieAlignment = [0, 0.5]
            }
            // initialize dotLottie
            const dotLottie = new window.DotLottie({ // eslint-disable-line
              loop: item.hasAttribute('data-loop'),
              speed: item.dataset.speed,
              mode: item.dataset.mode,
              autoplay: true,
              layout: {
                fit: 'contain',
                align: lottieAlignment
              },
              canvas: item,
              src: item.dataset.lottieSrc
            })
            // dotLottie load event
            dotLottie.addEventListener('load', (event) => {
              // run animation when in browser view
              const observer = new window.IntersectionObserver(function (entries) {
                entries.forEach(entry => {
                  if (entry.isIntersecting) {
                    dotLottie.play()
                  } else {
                    dotLottie.pause()
                  }
                })
              })
              for (const module of dotLottieCanvas) {
                observer.observe(module)
              }
            })
          }
        }
        // run dotLottie when document is ready
        if (document.readyState === 'loading') {
          document.addEventListener('DOMContentLoaded', runDotLottie)
        } else {
          runDotLottie()
        }
      </script>
    {% end_require_js %}
    <canvas class="lottie-macro dotlottie-canvas"
      data-lottie-src="{{module.lottie_file}}"
      data-speed="{{module.lottie_speed}}"
      data-mode="{{module.lottie_mode}}"
      {{"data-loop" if module.lottie_loop}}>
    </canvas>
  {%- endif -%}
{%- endmacro -%}
