<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{%- macro render(module) -%}
  {%- if module.image.src -%}
    {% require_css %}
      <style>
        .simple-image-macro {
          display: block;
          max-width: 100%;
          height: auto;
        }
      </style>
    {% end_require_css %}
    <img class="simple-image-macro"
      alt="{{module.simple_image.alt}}"
      src="{{module.simple_image.src}}"
      width="{{module.simple_image.width}}"
      height="{{module.simple_image.height}}"
      loading="lazy">
  {%- endif -%}
{%- endmacro -%}
