<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{%- macro render(module) -%}
{%- if module.subheading_text -%}
    {% require_css %}
      <style>
        .subheading-macro {
          text-wrap: balance;
          overflow-wrap: break-word;
          -webkit-hyphens: auto; /* for Safari */
          hyphens: auto;
          margin: 0;
          text-align: var(--module-alignment);
          color: var(--module-color);
          transition-property: color;
          transition-duration: var(--root-transition-duration);
          transition-timing-function: var(--root-transition-timing-function);
        }
      </style>
    {% end_require_css %}
    <{{module.subheading_tag}} class="{{module.subheading_style}} subheading-macro">
      {{module.subheading_text}}
    </{{module.subheading_tag}}>
  {%- endif -%}
{%- endmacro -%}
