<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{%- macro subheading_macro(data) -%}
  {%- if data.subheading_text -%}
    {# common styles for subheading macros #}
    {% require_css %}
      <style macro="subheading">
        .subheading-macro {
          text-wrap: balance;
          overflow-wrap: break-word;
          -webkit-hyphens: auto; /* for Safari */
          hyphens: auto;
          margin: 0;
          text-align: var(--scope-alignment);
          color: var(--scope-hover-color, var(--scope-color, var(--global-heading-color)));
          transition-property: color;
          transition-duration: var(--root-transition-duration);
          transition-timing-function: var(--root-transition-timing-function);
        }
      </style>
    {% end_require_css %}

    <{{data.subheading_tag}} class="{{data.subheading_style}} subheading-macro">
      {{data.subheading_text}}
    </{{data.subheading_tag}}>
  {%- endif -%}
{%- endmacro -%}
