<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{%- macro text_macro(data) -%}
  {%- if data.text -%}
    {# common styles for text macros #}
    {% require_css %}
      <style macro="text">
        .text-macro-wrp {
          text-align: var(--scope-alignment);
        }
        .text-macro {
          display: inline-block;
        }
      </style>
    {% end_require_css %}

    <div class="text-macro-wrp">
      <span class="text-macro">{{data.text}}</span>
    </div>
  {%- endif -%}
{%- endmacro -%}
