# HubSpot ignore configs
hubspot.config.yaml
hubspot.config.yml
theme/assets/*

# IDE ignore config
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.sublime-*

# global ignore config
.env
.env*
.tmp
temp
.DS_Store
node_modules
npm-debug.log
validation-status.json
