# HubSpot ignore configs
hubspot.config.yaml
hubspot.config.yml
theme/assets/*
theme/modules/unicard.module/fields.json
theme/modules/media-unicard.module/fields.json
theme/modules/unicard-group.module/fields.json
theme/modules/unicard-carousel.module/fields.json
theme/modules/unicard-filter.module/fields.json
theme/modules/unicard-blog-list.module/fields.json
theme/modules/unicard-blog-recent.module/fields.json

# IDE ignore config
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.sublime-*

# global ignore config
.env
.env*
.tmp
temp
.DS_Store
node_modules
npm-debug.log
validation-status.json
