<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Blog list
  screenshotPath: ../images/template-previews/blog-list.jpg
-->

{% set template_css = '../../css/templates/blog-list.css' %}
{% extends './layouts/base.html' %}

{% block body %}

  {% dnd_area 'dnd_area'
    label='Blog list template',
    class='blog-list-template'
  %}

    {% dnd_section
      padding={
        "default" : {
          "bottom" : "0px"
        }
      },
      full_width=false
    %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/unicard",
            offset=0,
            width=12,
            heading={
              "heading_style" : "",
              "heading_tag" : "h1",
              "heading_text" : "Blog",
              "heading_text_prop_visibility" : true
            },
            module_components=[ "main_heading" ],
            style={
              "background_type" : "",
              "hover_effects" : false,
              "shadow" : "",
              "spacing" : {
                "padding" : {
                  "bottom" : {
                    "units" : "px",
                    "value" : 0
                  },
                  "left" : {
                    "units" : "px",
                    "value" : 0
                  },
                  "right" : {
                    "units" : "px",
                    "value" : 0
                  },
                  "top" : {
                    "units" : "px",
                    "value" : 0
                  }
                }
              }
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% dnd_section
      padding={
        "default" : {
          "bottom" : "0px"
        }
      },
      full_width=false
    %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/blog-tag-filter",
            offset=0,
            width=12
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% dnd_section
      padding={
        "default" : {
          "top" : "30px"
        }
      }
    %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
          "default" : {
            "left" : "0px",
            "right" : "0px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/blog-list",
            offset=0,
            width=12,
            blog_components=[ {
              "component" : "Image",
              "show" : true
            }, {
              "component" : "Tags",
              "show" : true
            }, {
              "component" : "Heading",
              "show" : true
            }, {
              "component" : "Date",
              "show" : false
            }, {
              "component" : "Author",
              "show" : false
            }, {
              "component" : "Author and Date",
              "show" : false
            }, {
              "component" : "Description",
              "show" : true
            } ],
            button={
              "show" : false,
              "button_type" : "button"
            },
            style={
              "button" : {
                "presets" : {
                  "size" : "btn-small"
                }
              },
              "image" : {
                "custom_image_fit" : {
                  "image_aspect_ratio" : "3/2",
                  "image_fit" : "cover"
                },
                "spacing" : {
                  "spacing" : {
                    "margin" : {
                      "bottom" : {
                        "units" : "px",
                        "value" : 16
                      },
                      "top" : { }
                    }
                  }
                }
              }
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% dnd_section
      padding={
        "default" : {
          "top" : "0px"
        }
      },
      full_width=false
    %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/blog-pagination",
            offset=0,
            width=12
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

  {% end_dnd_area %}
{% endblock body %}
