<!--
  templateType: page
  label: Case study template
  isAvailableForNewContent: true
  enableDomainStylesheets: false
  screenshotPath: ../images/template-previews/case-study.jpg
-->
{% set template_css = '../../css/templates/case-study.css' %}
{% extends "./layouts/base.html" %}

{% block body %}
  {% if dynamic_page_hubdb_row %}
    {# Create settings #}
    {% set settings = {} %}

    <div class="case-study-template">

      <div class="case-study_wrp" style="border: 10px solid black;">

        {# Header - includes company logo and title #}
        <div class="case-study-header" style="border: 10px solid lightgray;">
          {% if dynamic_page_hubdb_row.company_logo %}
            <div class="case-study-company-logo-wrp">
              <img class="case-study-company-logo"
                src="{{dynamic_page_hubdb_row.company_logo.url}}"
                alt="{{dynamic_page_hubdb_row.company_logo.altText}}"
                width="{{dynamic_page_hubdb_row.company_logo.width}}"
                height="{{dynamic_page_hubdb_row.company_logo.height}}">
            </div>
          {% endif %}

          {% if dynamic_page_hubdb_row.title %}
            <h1 class="case-study__title">
              {{dynamic_page_hubdb_row.title}}
            </h1>
          {% endif %}
        </div>

        <article class="case-study__article" style="border: 10px solid gray;">

          {# Summary - includes Featured Image, Industry, Challenge, Results, Key Products, Company Website #}
          <div class="case-study-summary" style="border: 10px solid red;">

            {% if dynamic_page_hubdb_row.summary_featured_image %}
              <div class="case-study-summary-featured-image-wrp">
                <img class="case-study-summary-featured-image"
                  src="{{dynamic_page_hubdb_row.summary_featured_image.url}}"
                  alt="{{dynamic_page_hubdb_row.summary_featured_image.altText}}"
                  width="{{dynamic_page_hubdb_row.summary_featured_image.width}}"
                  height="{{dynamic_page_hubdb_row.summary_featured_image.height}}">
              </div>
            {% endif %}

            {# Industry #}
            {% if dynamic_page_hubdb_row.summary_industry %}
              <div class="case-study-summary-industry">

                {% if dynamic_page_hubdb_row.summary_industry_label %}
                  <h6 class="case-study-summary-industry-label">
                    {{dynamic_page_hubdb_row.summary_industry_label}}
                  </h6>
                {% endif %}
                {{ dynamic_page_hubdb_row.summary_industry.label }}
              </div>
            {% endif %}

            {# Challenge #}
            {% if dynamic_page_hubdb_row.summary_challenge %}
              <div class="case-study-summary-challenge">
                {% if dynamic_page_hubdb_row.summary_challenge_label %}
                  <h6 class="case-study-summary-challenge-label">
                    {{dynamic_page_hubdb_row.summary_challenge_label}}
                  </h6>
                {% endif %}
                {{dynamic_page_hubdb_row.summary_challenge}}
              </div>
            {% endif %}

            {# Results #}
            {% if dynamic_page_hubdb_row.summary_results %}
              <div class="case-study-summary-results">
                {% if dynamic_page_hubdb_row.summary_results_label %}
                  <h6 class="case-study-summary-results-label">
                    {{dynamic_page_hubdb_row.summary_results_label}}
                  </h6>
                {% endif %}
                {{dynamic_page_hubdb_row.summary_results}}
              </div>
            {% endif %}

            {# Key Products #}
            {% if dynamic_page_hubdb_row.summary_key_products %}
              <div class="case-study-summary-key-products">
                {% if dynamic_page_hubdb_row.summary_key_products_label %}
                  <h6 class="case-study-summary-key-products-label">
                    {{dynamic_page_hubdb_row.summary_key_products_label}}
                  </h6>
                {% endif %}

                {% for product in dynamic_page_hubdb_row.summary_key_products %}
                  <span class="case-study-summary-key-product">{{ product.label }}</span>
                {% endfor %}
              </div>
            {% endif %}

            {# Company website #}
            {% if dynamic_page_hubdb_row.summary_company_website %}
              <div class="case-study-summary-company-website">
                <h6 class="case-study-summary-company-website-label">Website</h6>
                <a href="{{dynamic_page_hubdb_row.summary_company_website}}" target="_blank" rel="noopener">
                  {{dynamic_page_hubdb_row.summary_company_website}}
                </a>
              </div>
            {% endif %}

          </div>

          {# Testimonial - includes author image, name, role and quote #}
          {% if dynamic_page_hubdb_row.testimonial_quote %}
            <div class="case-study-testimonial-wrp" style="border: 10px solid blue;">
              <blockquote class="case-study-testimonial-quote">
                {{dynamic_page_hubdb_row.testimonial_quote}}
              </blockquote>

              <div class="case-study-testimonial-author-info">
                {% if dynamic_page_hubdb_row.testimonial_author_image %}
                  <div class="case-study-testimonial-author-image-wrp">
                    <img class="case-study-testimonial-author-image"
                      src="{{dynamic_page_hubdb_row.testimonial_author_image.url}}"
                      alt="{{dynamic_page_hubdb_row.testimonial_author_image.altText}}"
                      width="{{dynamic_page_hubdb_row.testimonial_author_image.width}}"
                      height="{{dynamic_page_hubdb_row.testimonial_author_image.height}}">
                  </div>
                {% endif %}

                {% if dynamic_page_hubdb_row.testimonial_author_name %}
                  <div class="case-study-testimonial-author-name">
                    {{dynamic_page_hubdb_row.testimonial_author_name}}
                  </div>
                {% endif %}

                {% if dynamic_page_hubdb_row.testimonial_author_role %}
                  <div class="case-study-testimonial-author-role">
                    {{dynamic_page_hubdb_row.testimonial_author_role}}
                  </div>
                {% endif %}
              </div>
            </div>
          {% endif %}

          {# Company summary - includes image, name and summary #}
          {% if dynamic_page_hubdb_row.company_summary %}
            <div class="case-study-company-summary" style="border: 10px solid green;">
              {% if dynamic_page_hubdb_row.company_image %}
                <div class="case-study-company-image-wrp">
                  <img class="case-study-company-image"
                    src="{{dynamic_page_hubdb_row.company_image.url}}"
                    alt="{{dynamic_page_hubdb_row.company_image.altText}}"
                    width="{{dynamic_page_hubdb_row.company_image.width}}"
                    height="{{dynamic_page_hubdb_row.company_image.height}}">
                </div>
              {% endif %}

              {% if dynamic_page_hubdb_row.company_name %}
                <h2 class="case-study-company-name">
                  {{dynamic_page_hubdb_row.company_name}}
                </h2>
              {% endif %}

              <div class="case-study-company-summary-text">
                {{dynamic_page_hubdb_row.company_summary}}
              </div>
            </div>
          {% endif %}

          {% if dynamic_page_hubdb_row.case_study_body %}
            <div class="case-study__body" style="border: 10px solid orange;">
              {{dynamic_page_hubdb_row.case_study_body}}
            </div>
          {% endif %}
        </article>

      </div>
    </div>

  {% elif dynamic_page_hubdb_table_id %}
    {% dnd_area 'dnd_area'
      label='Case study template',
      class='case-study-template'
    %}
      {% dnd_section %}
        {% dnd_column
          offset=0,
          width=12
        %}
          {% dnd_row %}
            {#{% dnd_module
              path="../modules/case-study-list",
              offset=0,
              width=12,
            %}
            {% end_dnd_module %}#}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_section %}
    {% end_dnd_area %}
  {% endif %}
{% endblock body %}
