<!--
    templateType: membership_self_register_verification_page
    isAvailableForNewContent: true
    label: Membership Self Verify Registration Page
-->
{% extends "./layouts/base.html" %}
{% set template_translations = load_translations("@hubspot/cmsdefaultsystempages/templates/_locales", html_lang, "en") %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid-wrapper">
            <div class="row-fluid">
                <div class="span12">
                    <div class="dnd-section">
                        <div class="row-fluid">
                            {% module "verify_registration_heading"
                                path="@hubspot/rich_text",
                                html={{ "<h1>" ~ template_translations.membership_verify_registration_heading.message ~ "</h1>" }}
                            %}
                        </div>
                        <div class="row-fluid">
                            {% module "verify_registration_description"
                                path="@hubspot/rich_text",
                                html={{ "<p>" ~ template_translations.membership_verify_registration_description.message ~ "</p>" }}
                            %}
                        </div>
                        {#<div class="row-fluid">
                            {% module "admin_contact"
                                path="@hubspot/rich_text",
                                html={{ "<p>" ~ template_translations.membership_verify_registration_contact_admin.message ~ "</p>" }}
                            %}
                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
