<!--
    templateType: membership_reset_page
    isAvailableForNewContent: true
    label: Membership Reset Page
-->
{% extends "./layouts/base.html" %}
{% set template_translations = load_translations("@hubspot/cmsdefaultsystempages/templates/_locales", html_lang, "en") %}
{% set template_css = '../../css/membership.css' %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid-wrapper">
            <div class="row-fluid">
                <div class="span12">
                    <div class="dnd-section">
                        <div class="row-fluid">
                            {% module "password_reset_heading"
                                path="@hubspot/rich_text",
                                html={{ "<h1>" ~ template_translations.membership_reset_password_heading.message ~ "</h1><p>" ~ template_translations.membership_reset_password_subheading.message ~ "</p>" }}
                            %}
                        </div>
                        <div class="row-fluid">
                            {% password_reset "password_reset_form"
                                extra_classes="form-wrapper form-wrapper--reset-password",
                                password_label={{ template_translations.membership_reset_password_new_password.message }},
                                password_confirm_label={{ template_translations.membership_reset_password_confirm_password.message }},
                                submit_button_text={{ template_translations.membership_reset_password_save_password.message }},
                                show_password={{ template_translations.membership_reset_password_show_password.message }}
                            %}
                        </div>
                        {% if site_settings.membershipWebsiteAdmin %}
                            <div class="row-fluid">
                                {% module "admin_contact"
                                    path="@hubspot/rich_text",
                                    html={{ "<p>" ~ template_translations.membership_reset_password_contact_admin.message ~ "</p>" }}
                                %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
