<!--
    templateType: membership_passwordless_auth_confirmation_page
    isAvailableForNewContent: true
    label: Membership Passwordless Auth Confirmation Page
-->
{% extends "./layouts/base.html" %}
{% set template_translations = load_translations("@hubspot/cmsdefaultsystempages/templates/_locales", html_lang, "en") %}
{% set template_css = '../../css/membership.css' %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid-wrapper">
            <div class="row-fluid">
                <div class="span12">
                    <div class="dnd-section">
                        <div class="row-fluid">
                            {% set user_email = request.query_dict.email or "example@email.com" %}
                            {% if request.query_dict.redirect_url %}
                                {% set redirect_query_param = "?redirect_url=" ~ request.query_dict.redirect_url %}
                            {% endif %}

                            <img class="success-image" src="{{ get_asset_url("../../img/success.svg") }}" height="76" width="76" loading="eager" alt="">
                        </div>
                        <div class="row-fluid">
                            {% module "passwordless_auth_confirmation_heading"
                                path="@hubspot/rich_text",
                                html={{ "<h1>" ~ template_translations.membership_passwordless_auth_confirmation_heading.message ~ "</h1>" }}
                            %}
                        </div>
                        <div class="row-fluid">
                            {% module "passwordless_auth_confirmation_description"
                                path="@hubspot/rich_text",
                                html={{ "<p>" ~ template_translations.membership_passwordless_auth_confirmation_description.message ~ "</p><p>" ~ template_translations.membership_passwordless_auth_confirmation_fallback_instructions.message ~ "</p>" }}
                            %}
                        </div>
                        <div class="row-fluid">
                            {% module "passwordless_auth_confirmation_resend_button"
                                path="@hubspot/passwordless_auth_resend_signin"
                            %}
                        </div>
                        <div class="row-fluid">
                            {% module "passwordless_auth_confirmation_or"
                                path="@hubspot/rich_text",
                                html={{ '<p class="form-separator form-separator--light form-separator--small">' ~ template_translations.membership_passwordless_auth_confirmation_or.message ~ "</p>" }}
                            %}
                        </div>
                        <div class="row-fluid">
                            {% module "passwordless_auth_confirmation_signin_button"
                                path="@hubspot/button",
                                extra_classes="button-wrapper button-wrapper--secondary button-wrapper--membership-passwordless-auth",
                                button_text={{ template_translations.membership_passwordless_auth_confirmation_signin_button.message }},
                                link={
                                    "url": {
                                        "type": "EXTERNAL",
                                        "href": "/_hcms/mem/login" ~ redirect_query_param
                                    }
                                }
                            %}
                        </div>
                        {% if site_settings.membershipWebsiteAdmin %}
                            <div class="row-fluid">
                                {% module "admin_contact"
                                    path="@hubspot/rich_text",
                                    html={{ "<p>" ~ template_translations.membership_passwordless_auth_confirmation_contact_admin.message ~ "</p>" }}
                                %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
