<!--
    templateType: membership_reset_request_page
    isAvailableForNewContent: true
    label: Membership Reset Request Page
-->
{% extends "./layouts/base.html" %}
{% set template_translations = load_translations("@hubspot/cmsdefaultsystempages/templates/_locales", html_lang, "en") %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid-wrapper">
            <div class="row-fluid">
                <div class="span12">
                    <div class="dnd-section">
                        {% if request.query_dict.reset_success %}
                            {% set user_email = request.query_dict.user_email or "example@email.com" %}

                            <div class="row-fluid">
                                <img src="{{ get_asset_url("../../img/success.svg") }}" height="76" width="76" loading="eager" alt="">
                            </div>
                            <div class="row-fluid">
                                {% module "reset_password_confirmation"
                                    path="@hubspot/rich_text",
                                    html={{ "<h1>" ~ template_translations.membership_reset_success_heading.message ~ "</h1><p>" ~ template_translations.membership_reset_success_subheading.message ~ "</p>" }}
                                %}
                            </div>
                            <div class="row-fluid">
                                {% module "return_button"
                                    path="@hubspot/button",
                                    extra_classes="button-wrapper button-wrapper--membership-reset-password-success",
                                    button_text={{ template_translations.membership_reset_success_button.message }},
                                    link={
                                        "url": {
                                            "type": "EXTERNAL",
                                            "href": "/_hcms/mem/reset/request"
                                        }
                                    }
                                %}
                            </div>
                        {% else %}
                            <div class="row-fluid">
                                {% module "password_reset_request_heading"
                                    path="@hubspot/rich_text",
                                    html={{ "<h1>" ~ template_translations.membership_reset_request_heading.message ~ "</h1><p>" ~ template_translations.membership_reset_request_subheading.message ~ "</p>" }}
                                %}
                            </div>
                            <div class="row-fluid">
                                <div class="hs-membership-reset-request__form-container">
                                    {% password_reset_request "password_reset_request_form"
                                        extra_classes="form-wrapper form-wrapper--reset-password-request"
                                        email_label={{ template_translations.membership_reset_request_email.message }},
                                        submit_button_text={{ template_translations.membership_reset_request_submit.message }}
                                    %}

                                    {% module "sign_in_link"
                                        path="@hubspot/rich_text",
                                        html={{ "<p>" ~ template_translations.membership_reset_request_alt.message ~ "</p>" }}
                                    %}
                                </div>
                            </div>
                            {% if site_settings.membershipWebsiteAdmin %}
                                <div class="row-fluid">
                                    {% module "admin_contact"
                                        path="@hubspot/rich_text",
                                        html={{ "<p>" ~ template_translations.membership_register_contact_admin.message ~ "</p>" }}
                                    %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
