<!--
  templateType: page
  isAvailableForNewContent: true
  enableDomainStylesheets: false
  hasUniqueValue: true
  label: Products list and single-view
  screenshotPath: ../images/template-previews/products.png
-->
{% import '../macros/hubl/products/functions.html' as product_functions_macro %}

{% extends "./layouts/base.html" %}

{% block body %}
  <div class="products-template">
    {# Single view #}
    {% if dynamic_page_crm_object %}
      {% set backToListUrlSlug = request.path|split('/') %}
      {% set backToListUrlSlug = backToListUrlSlug[:-1] %}
      {% set backToListUrlSlug = backToListUrlSlug|join('/') %}
      <div class="product-single-view">
        <h1>{{ dynamic_page_crm_object.name }}</h1>
        {{ product_functions_macro.render_product_list_image(dynamic_page_crm_object) }}
        <p>{{ dynamic_page_crm_object.description }}</p>
        <p>{{ dynamic_page_crm_object.price | format_currency_value(locale=product_functions_macro.get_locale(), currency=product_functions_macro.get_currency()) }}</p>
        {{ product_functions_macro.render_structured_data(dynamic_page_crm_object) }}
      </div>
      <a href="/{{ backToListUrlSlug }}" class="back-to-list">Back to Product List</a>
    {% else %}
    {# List view - not editable for editor #}
      {% dnd_section %}
        {% dnd_column
          offset=0,
          width=12
        %}
          {% dnd_row %}
            {% dnd_module
              path="/nimbly-lite-child/modules/product-list",
              offset=0,
              width=12
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_section %}
      {% dnd_area 'dnd_area_list'
        label='Product list',
      %}
      {% end_dnd_area %}

    {% endif %}
  </div>
{% endblock body %}
