<!--
  templateType: page
  isAvailableForNewContent: true
  enableDomainStylesheets: false
  label: Unicard variations
  screenshotPath: ../images/template-previews/unicard-variations.jpg
-->

{% extends "./layouts/base.html" %}

{% block body %}

  {% dnd_area 'dnd_area'
    label='Unicard variations template',
    class='unicard-variations-template'
  %}


    {% include_dnd_partial path='../sections/unicard-variation1.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={
        'padding_bottom': '200px',
        'heading_text': 'Variant #2'
    } %}
    {% include_dnd_partial path='../sections/unicard-variation2.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #3'} %}
    {% include_dnd_partial path='../sections/unicard-variation3.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #4'} %}
    {% include_dnd_partial path='../sections/unicard-variation4.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={
      'background_color': 'rgba(44, 47, 52, 1)',
      'padding_bottom': '200px',
      'heading_text': 'Variant #5'
    } %}
    {% include_dnd_partial path='../sections/unicard-variation5.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #6'} %}
    {% include_dnd_partial path='../sections/unicard-variation6.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #7'} %}
    {% include_dnd_partial path='../sections/unicard-variation7.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #8'} %}
    {% include_dnd_partial path='../sections/unicard-variation8.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #9'} %}
    {% include_dnd_partial path='../sections/unicard-variation9.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={
      'padding_bottom': '220px',
      'heading_text': 'Variant #10'
  } %}
    {% include_dnd_partial path='../sections/unicard-variation10.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #11'} %}
    {% include_dnd_partial path='../sections/unicard-variation11.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #12'} %}
    {% include_dnd_partial path='../sections/unicard-variation12.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #13'} %}
    {% include_dnd_partial path='../sections/unicard-variation13.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #14'} %}
    {% include_dnd_partial path='../sections/unicard-variation14.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={
        'background_color': 'rgba(238, 238, 238, 1)',
        'padding_bottom': '160px',
        'heading_text': 'Variant #15'
    } %}
    {% include_dnd_partial path='../sections/unicard-variation15.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #16'} %}
    {% include_dnd_partial path='../sections/unicard-variation16.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #17'} %}
    {% include_dnd_partial path='../sections/unicard-variation17.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #18'} %}
    {% include_dnd_partial path='../sections/unicard-variation18.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #19'} %}
    {% include_dnd_partial path='../sections/unicard-variation19.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #20'} %}
    {% include_dnd_partial path='../sections/unicard-variation20.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #21'} %}
    {% include_dnd_partial path='../sections/unicard-variation21.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #22'} %}
    {% include_dnd_partial path='../sections/unicard-variation22.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #23'} %}
    {% include_dnd_partial path='../sections/unicard-variation23.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #24'} %}
    {% include_dnd_partial path='../sections/unicard-variation24.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #25'} %}
    {% include_dnd_partial path='../sections/unicard-variation25.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #26'} %}
    {% include_dnd_partial path='../sections/unicard-variation26.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #27'} %}
    {% include_dnd_partial path='../sections/unicard-variation27.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #28'} %}
    {% include_dnd_partial path='../sections/unicard-variation28.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #29'} %}
    {% include_dnd_partial path='../sections/unicard-variation29.html '%}

    {% include_dnd_partial path='../sections/unicard-variations-anchors.html' context={'heading_text': 'Variant #30'} %}
    {% include_dnd_partial path='../sections/unicard-variation30.html '%}


  {% end_dnd_area %}

{% endblock body %}
