{# add base styles to module previewer [rmstart] #}
{% if is_in_module_previewer %}
  {{require_css(get_asset_url("../../css/base.css"))}}
  {{require_css(get_asset_url("../../css/global-theme-settings.css"))}}
  {% require_css %}
    <style>
      .unicard-group {
        max-width: 1400px;
      }
    </style>
  {% end_require_css %}
{% endif %}
{# *** [rmend] #}

{% import '../../partials/modules/unicard.html' %}
<style>
  {% scope_css %}
    {% if module.style.grid_layout.columns < 3 %}
      .unicard-group {
        --min: 280px;
      }
      @media screen and (max-width: 460px) {
        .unicard-group {
          grid-template-columns: repeat(1, minmax(0, 1fr));
        }
      }
      @media (min-width: 700px) {
        .unicard-group {
          grid-template-columns: repeat(var(--col), minmax(0, 1fr));
        }
      }
    {% endif %}
    {% if module.style.grid_layout.columns > 2 and module.style.grid_layout.columns < 5 %}
      .unicard-group {
        --min: 280px;
      }
      @media screen and (max-width: 460px) {
        .unicard-group {
          grid-template-columns: repeat(1, minmax(0, 1fr));
        }
      }
      @media (min-width: 1100px) {
        .unicard-group {
          grid-template-columns: repeat(var(--col), minmax(0, 1fr));
        }
      }
    {% endif %}
    {% if module.style.grid_layout.columns > 4 and module.style.grid_layout.columns < 7 %}
      .unicard-group {
        --min: 200px;
      }
      @media (min-width: 1200px) {
        .unicard-group {
          grid-template-columns: repeat(var(--col), minmax(0, 1fr));
        }
      }
    {% endif %}
    {% if module.style.grid_layout.columns > 6 %}
      .unicard-group {
        --min: 136px;
      }
      @media (min-width: 1200px) {
        .unicard-group {
          grid-template-columns: repeat(var(--col), minmax(0, 1fr));
        }
      }
    {% endif %}
  {% end_scope_css %}
</style>

{% if module.card_group|length > 0 %}
  {# [rmstart] #}
  {{require_css(get_asset_url("../../partials/modules/unicard.css"))}}
  {# [rmend] #}

  <div class="unicard-group" style="--col: {{module.style.grid_layout.columns}}; gap:{{module.style.grid_layout.gap ~ 'px'}};">
    {% for item in module.card_group %}
      {{unicard_macro(item, module.style.card_style_group)}}
    {% endfor %}
  </div>
{% endif %}
