.unicard-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
}

@media (min-width: 1200px) {
  .unicard-group {
    grid-template-columns: repeat(var(--col), minmax(0, 1fr));
  }
}
