{# Blog Post Template v2 #}

{# using replace_color_in_svg #}
{% import '../macros.css' %}

{# global blog variables #}
.blog-post-header,
.blog-post-header-wrp.blog-post-header-wrp-featured-image:before {
  background-color: {{theme.blog.header_background_color.css}};
}

.blog-post__heading,
.blog-post__meta {
  color: {{theme.blog.header_text_color.css}};
}

.blog-post__meta a {
  color: {{theme.blog.header_link_color.css}};
}

{# return to all posts - link #}
.blog-post__all-posts a {
  font-size: calc({{ theme.typography.text.font.size ~ theme.typography.text.font.size_unit }} * 1.5);
  text-decoration: none;
  color: {{theme.blog.header_text_color.css}};
  position: relative;
  margin-bottom: 1rem;
}

.blog-post__all-posts a:hover {
  color: {{theme.blog.header_text_color.css}};
  opacity: 0.8;
}

.blog-post__all-posts a:before {
  font-size: 1rem;
  height: {{ theme.typography.text.font.size ~ theme.typography.text.font.size_unit }};
  content: {{ replace_color_in_svg('#000000', theme.blog.header_text_color.css, 'PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxOSAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0ibTE3LjUgOWMwLjU1MjMgMCAxLTAuNDQ3NzIgMS0xcy0wLjQ0NzctMS0xLTF2MnptLTE2LjcwNy0xLjcwNzFjLTAuMzkwNTIgMC4zOTA1My0wLjM5MDUyIDEuMDIzNyAwIDEuNDE0Mmw2LjM2NCA2LjM2NGMwLjM5MDUzIDAuMzkwNSAxLjAyMzcgMC4zOTA1IDEuNDE0MiAwIDAuMzkwNTItMC4zOTA2IDAuMzkwNTItMS4wMjM3IDAtMS40MTQybC01LjY1NjktNS42NTY5IDUuNjU2OS01LjY1NjhjMC4zOTA1Mi0wLjM5MDUzIDAuMzkwNTItMS4wMjM3IDAtMS40MTQyLTAuMzkwNTMtMC4zOTA1Mi0xLjAyMzctMC4zOTA1Mi0xLjQxNDIgMGwtNi4zNjQgNi4zNjR6bTE2LjcwNy0wLjI5Mjg5aC0xNnYyaDE2di0yeiIgZmlsbD0iIzAwMDAwMCIvPgo8L3N2Zz4K') }};
}

{# general #}
.blog-post,
.blog-post__tags,
.blog-post__heading,
.blog-post__meta,
.blog-post-featured-image-wrp,
.blog-post__all-posts {
  max-width: 924px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.blog-post-header {
  padding-top: 100px;
  padding-bottom: 64px;
}

 .blog-post__tags,
 .blog-post__heading,
 .blog-post__meta {
  margin-bottom: 28px;
}

.blog-post__meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.blog-post__meta-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blog-post__meta-author-avatar_wrp {
  display: inline-flex;
}

.blog-post__meta-author-avatar {
  border-radius: 50%;
}

.blog-post {
  padding-bottom: 100px;
  padding-top: 28px;
}

.blog-post__body img {
  height: auto;
  max-width: 100%;
}

{# featured-image #}
.blog-post-header-wrp-featured-image .blog-post-header {
  padding-bottom: 0;
}

.blog-post-header-wrp.blog-post-header-wrp-featured-image {
  position: relative;
}

.blog-post-header-wrp.blog-post-header-wrp-featured-image:before {
  content: '';
  width: 100%;
  height: 80%;
  position: absolute;
  display: block;
  z-index: -1;
}

.blog-post-featured-image {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 991.98px) {
  .blog-post-header {
    padding-top: 50px;
  }

  .blog-post {
    padding-bottom: 0px;
  }
}

{# blog sharing buttons #}
.blog-post__sharing-buttons .hs-blog-social-share {
  height: auto;
}

.blog-post__sharing-buttons .hs-blog-social-share-list {
  padding: 10px 0;
}

.blog-post__sharing-buttons .hs-blog-social-share li > a,
.blog-post__sharing-buttons .hs-blog-social-share li > span,
.blog-post__sharing-buttons .hs-blog-social-share li > iframe,
.blog-post__sharing-buttons .hs-blog-social-share li > div {
  vertical-align: top !important;
}

{# social sharing module #}
.social-sharing-module_wrp {
  padding-top: 15px;
}

{# --share-text is translated in blog-post-2.html #}
.social-sharing-module:before {
  content: var(--share-label);
  margin-right: 10px;
  margin-top: 5px;
}

{# icon color values can be overriden in module #}
{% import '../global-theme-settings/buttons.css' %}

.social-sharing-module__icon .icon-style {
  {% if btn_primary_background.css %}
    background-color: {{btn_primary_background.css}};
  {% endif %}
}

.social-sharing-module__icon .icon-style:hover {
  background-color: {{rgb(btn_primary_hover_background_color, btn_primary_hover_background_opacity)}};
}

.social-sharing-module__icon .icon-style svg {
  {% if btn_primary_font.color %}
    fill: {{btn_primary_font.color}};
  {% endif %}
}

.social-sharing-module__icon .icon-style:hover svg {
  fill: {{btn_primary_hover_color}};
}
