{# Case Study #}

.case-study_wrp {
  border: 5px solid gold;
}

{# general #}
.case-study__header,
.case-study__article,
.case-study__related-case-studies {
  max-width: 924px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

{# case study header part #}
.case-study__header {
  padding-top: 100px;
  padding-bottom: 64px;
}

.case-study__company-logo-wrp {
  text-align: center;
  margin-bottom: 28px;
}

.case-study__company-logo {
  max-width: 100%;
  height: auto;
}

.case-study__title {
  text-align: center;
  margin-bottom: 28px;
}

{# case study header part #}
.case-study__article {
  padding-bottom: 100px;
  padding-top: 28px;
}

.case-study__summary {
  background-color: #eee;
}

{# success metrics #}
.case-study__success-metrics {
  background-color: #eee;
}

.case-study__success-metrics-title {
  text-align: center;
  margin-bottom: 40px;
}


{# related case studies #}
.case-study__related-case-studies {
  padding: 50px 0;
}

.case-study__related-case-studies-title {
  text-align: center;
  margin-bottom: 40px;
}

.case-study__related-case-studies-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: center;
}

.case-study__related-case-study-item {
  width: calc(33% - (var(--gap) * 2 / 3)); /* gap value */
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 0.5);
  overflow: hidden;
  justify-content: start;
  text-decoration: none;
  padding: calc(var(--gap) * 0.5);
  background: #eee;
  border-radius: calc(var(--gap) * 0.5);
  border: 1px solid #ccc;
}

.case-study__related-case-study-company-logo {
  margin: calc(var(--gap) * -0.5);
  margin-bottom: 0;
  width: calc(100% + (var(--gap) * 1));
  height: auto;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 4 / 3;
}

.case-study__related-case-study-industry {
  align-self: flex-start;
  display: flex;
  font-size: 1;
  background: #fff;
  color: #333;
  justify-content: center;
  line-height: normal;
  padding: 5px 10px;
  text-decoration: none;
}
