{% set main_text_font = theme.typography.text.font %}
{% set main_text_line_height = theme.typography.text.line_height %}
{% set space_after_paragraph = theme.typography.text.space_after_paragraph %}

body {
  overflow-wrap: break-word;
  color: {{main_text_font.color}};
  background-color: {{theme.typography.text.background.color}};
  {% if main_text_line_height and main_text_font.size %}
    line-height: calc({{ main_text_line_height }} / {{ main_text_font.size }});
  {% else %}
    line-height: 1.5;
  {% endif %}
  font-size: {{main_text_font.size ~ main_text_font.size_unit}};

  {% if main_text_font.font == null %}
    font-family: var(--system-fonts);
  {% else %}
    {% if main_text_font.fallback %}
      font-family: {{main_text_font.font ~ ',' ~ main_text_font.fallback}};
    {% else %}
      font-family: {{main_text_font.font}};
    {% endif %}
  {% endif %}
  {% if main_text_font.style %}
    {{main_text_font.style}};
  {% endif %}
}

/* Automatically add a bold variant of the global external font if defined to add the ability to use a "bold" text style in the RTE module. */
.secondary-global-font {
  {{theme.typography.text.secondary_global_font.style}};
}

{% if space_after_paragraph or space_after_paragraph == 0 %}
/* Natural space when a heading (or paragraph after ingress) follows a paragraph */
main p + h1,
main p + h2,
main p + h3,
main p + h4,
main p + h5,
main p + h6,
main .ingress + p {
  margin-top: {{ space_after_paragraph }}px;
}
{% endif %}
