.unicard-left-right-hero-wrp {
  overflow: hidden;
  background-color: var(--unicard-l-r-hero-background);
}

.unicard-left-right {
  display: flex;
  min-height: 100%;
  background-color: var(--unicard-l-r-background);
  border: var(--unicard-l-r-border);
  border-radius: var(--unicard-l-r-border-radius);
  box-shadow: var(--unicard-l-r-shadow);
  padding-left: var(--unicard-l-r-padding-left);
  padding-right: var(--unicard-l-r-padding-right);
  padding-top: var(--unicard-l-r-padding-top);
  padding-bottom: var(--unicard-l-r-padding-bottom);
}

.unicard-left-right-hero-wrp > .unicard-left-right {
  max-width: var(--custom-max-width, var(--max-width));
  margin: 0 auto;
}

.unicard-left-right > .unicard {
  flex: 1 1 0;
}

@media (max-width: 767.8px) {
  .unicard-left-right {
    gap: var(--mobile-gap);
    flex-direction: var(--mobile-direction);
    padding-left: var(--unicard-l-r-mobile-padding-left, var(--unicard-l-r-padding-left));
    padding-right: var(--unicard-l-r-mobile-padding-right, var(--unicard-l-r-padding-right));
    padding-top: var(--unicard-l-r-mobile-padding-top, var(--unicard-l-r-padding-top));
    padding-bottom: var(--unicard-l-r-mobile-padding-bottom, var(--unicard-l-r-padding-bottom));
  }
  .unicard-left-right > .unicard {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .unicard-left-right {
    gap: var(--desktop-gap);
  }
  .unicard-left-right .unicard:first-of-type {
    flex-basis: var(--left-column-width);
  }
  .unicard-left-right .unicard:last-of-type {
    flex-basis: var(--right-column-width);
  }
}

/* ========================================= */
/* ========================================= */
/* flex grid system v2 modifications */
/* theme/css/flex-system-v2/ */
/* unicard heroimage section spacing on mobile */
.dnd-section:is([class*="force-full-width-section"]) .unicard-left-right-hero-wrp {
  padding-left: var(--section-horizontal-spacing-mobile);
  padding-right: var(--section-horizontal-spacing-mobile);
}


/* unicard heroimage section spacing on tablet (vertical position) */
@media (min-width: 540px) {
  .dnd-section:is([class*="force-full-width-section"]) .unicard-left-right-hero-wrp {
    padding-left: calc(var(--section-horizontal-spacing));
    padding-right: calc(var(--section-horizontal-spacing));
  }
}
@media (min-width: 640px) {
  .dnd-section:is([class*="force-full-width-section"]) .unicard-left-right-hero-wrp {
    padding-left: calc(var(--section-horizontal-spacing)/2);
    padding-right: calc(var(--section-horizontal-spacing)/2);
  }
}

/* unicard heroimage section spacing on desktop */
@media (min-width: 1024px) {
  .dnd-section:is([class*="force-full-width-section"]) .unicard-left-right-hero-wrp {
    padding-left: var(--section-horizontal-spacing);
    padding-right: var(--section-horizontal-spacing);
  }
}
