<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{%- macro render(data, style, order_of_components) -%}

  {% import '../../macros/components/button-group.html' as buttonGroup %}
  {% import '../../macros/components/heading.html' as heading %}
  {% import '../../macros/components/subheading.html' as subheading %}
  {% import '../../macros/components/custom-text-group.html' as customTextGroup %}
  {% import '../../macros/components/richtext.html' as richtext %}
  {% import '../../macros/components/full-width-image.html' as fullWidthImage %}
  {% import '../../macros/components/icon.html' as icon %}
  {% import '../../macros/components/lottie.html' as lottie %}
  {% import '../../macros/components/simple-image.html' as simpleImage %}
  {% import '../../css/macros.css' %}

  <style>
    {% scope_css %}
      .scope-root {
        --scope-color: {{style.text_color.css if style.text_color.css}};
        --scope-alignment: {{css_alignment_macro(style.alignment.horizontal_align)}};
        --scope-border-radius: {{style.border_radius is truthy ? style.border_radius ~ "px" : 0 }};
        {% if style.background_type == 'background_color' and style.background_color.css %}
          --scope-background: {{style.background_color.css}};
        {% elif style.background_type == 'background_gradient' and style.background_gradient.css %}
          background: {{style.background_gradient.css}};
        {% elif style.background_type == 'background_image' and style.background_image.css %}
          {{css_image_background_macro(style)}}
        {% endif %}
        --scope-content-gap: {{style.content_gap is truthy ? style.content_gap ~ 'px' : 0 }};
        --scope-border: {{style.border.css && style.border.top.width.value is truthy ? style.border.css|cut('border:') : 'none' }};
        --scope-border-width: {{style.border.css && style.border.top.width.value is truthy ? style.border.top.width.value ~ style.border.top.width.units : '0' }};
        --scope-shadow: {{style.shadow is truthy ? 'var(--' ~ style.shadow ~ ')' : 'var(--shadow-)' }};
        --scope-padding-top: {{style.spacing.padding.top.value is truthy ? style.spacing.padding.top.value ~ style.spacing.padding.top.units : 0 }};
        --scope-padding-bottom: {{style.spacing.padding.bottom.value is truthy ? style.spacing.padding.bottom.value ~ style.spacing.padding.bottom.units : 0 }};
        --scope-padding-left: {{style.spacing.padding.left.value is truthy ? style.spacing.padding.left.value ~ style.spacing.padding.left.units : 0 }};
        --scope-padding-right: {{style.spacing.padding.right.value is truthy ? style.spacing.padding.right.value ~ style.spacing.padding.right.units : 0 }};
        --scope-padding: {{style.spacing.padding.top.value ~ style.spacing.padding.top.units if style.spacing.css|length <= 17 }};
      }
      {# {% if style.top_content.top_content_spacing.css %}
        .unicard .content-block-top {
          {{style.top_content.top_content_spacing.css}};
        }
      {% endif %} #}

      {% if style.hover_effects %}
        @media (any-hover: hover) {
          .scope-root:hover {
            --scope-hover-color: {{style.hover.text_color.css if style.hover.text_color.css}};
            --scope-hover-background: {{style.hover.background_color.css if style.hover.background_color.css}};
            --scope-hover-border-color: {{style.hover.border_color.css ? style.hover.border_color.css : style.border.top.color}};
            --scope-hover-shadow: {{style.hover.shadow ? 'var(--' ~ style.hover.shadow ~ ')' : 'var(--scope-shadow)' }};
            --scope-hover-animation: {{style.hover.animation ? 'var(--' ~ style.hover.animation ~ ')' : 'var(--ani-)' }};
            box-shadow: var(--scope-hover-shadow);
            transform: var(--scope-hover-animation);
            color: var(--scope-hover-color);
            border-color: var(--scope-hover-border-color);
          }
          {% if style.background_type == 'background_image' and style.hover.background_color.css or style.background_type == 'background_gradient' and style.hover.background_color.css %}
            .scope-root:after {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -10;
              background-color: rgb(255 255 255 / 0%);
              transition-property: background-color;
              transition-duration: var(--root-transition-duration);
              transition-timing-function: var(--root-transition-timing-function);
              border-radius: calc(var(--scope-border-radius) - var(--scope-border-width));
            }
            .scope-root:hover:after {
              background-color: var(--scope-hover-background);
            }
          {% elif style.hover.background_color.css %}
            .scope-root:hover {
              background-color: var(--scope-hover-background);
            }
          {% endif %}
        }
      {% endif %}
    {% end_scope_css %}
  </style>

  {# stretched_link #}
  {% if data.whole_area_link and data.heading.heading_link_type == "link" and data.heading.heading_link.url.href %}
    {% set heading_stretched_link = true %}
  {% elif data.whole_area_link %}
    {% set button_stretched_link = true %}
  {% endif %}

  {%- macro render_media() -%}
    {% if data.media_type == 'full_width_image' %}
      {{fullWidthImage.render(data.full_width_image_group)}}
    {% elif data.media_type == 'simple_image' %}
      {{simpleImage.render(data.simple_image_group)}}
    {% elif data.media_type == 'icon' %}
      {{icon.render(data.icon_group)}}
    {% elif data.media_type == 'lottie' %}
      {{lottie.render(data.lottie_group)}}
    {% endif %}
  {%- endmacro -%}

  <div class="unicard scope-root">
    <div class="content-block-top">
      {% for item in order_of_components %}
        {% if item.component|lower == 'image' %}
          {{render_media()}}

        {% elif item.component|lower == 'heading' %}
          {{heading.render(data.heading)}}

        {% elif item.component|lower == 'subheading' %}
          {{subheading.render(data)}}

        {% elif item.component|cut(" ")|lower == 'customtextgroup' %}
          {{customTextGroup.render(data)}}

        {% elif item.component|cut(" ")|lower == 'richtext' %}
          {{richtext.render(data)}}

        {% elif item.component|cut(" ")|lower == 'buttongroup' %}
          {{buttonGroup.render(data)}}

        {% elif item.component|cut(" ")|lower == 'additionalimagesgroup' %}
          {% if data.additional_images_group|length > 0 %}
            <div class="additional-images">
              {% for image in data.additional_images_group %}
                {{simpleImage.render(image)}}
              {% endfor %}
            </div>
          {% endif %}

        {% elif item.component|lower == 'separator' and !loop.last %}
          </div>
          <div class="content-block-bottom">

        {% endif %}

      {% endfor %}
    </div>
  </div>

{%- endmacro -%}
