/* browser-defaults-overrides */
*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

input,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  /* eslint-disable-next-line css/use-baseline */
  resize: vertical;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

figure {
  margin: 0;
}

legend {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

summary {
  display: list-item;
  cursor: pointer;
}
