<!--
  label: partials -> modules -> unicard.html
  templateType: "none"
  isAvailableForNewContent: false
-->
{%- macro unicard_macro(data, style) -%}

  {% import '../components/media-group.html' %}
  {% import '../components/category-group.html' %}
  {% import '../components/heading.html' %}
  {% import '../components/richtext.html' %}
  {% import '../components/button-group.html' %}
  {% import '../components/custom-text-group.html' %}
  {% import '../components/simple-image.html' %}
  {% import '../components/simple-text.html' %}
  {% import '../components/list-group.html' %}
  {% import '../components/accordion-group.html' %}
  {% import '../components/meeting.html' %}
  {% import '../components/form.html' %}
  {% import '../../css/macros.css' %}
  {% import '../utils/hash.html' %}

  {# hash for scoped styles #}
  {% set scope_hash = hash([
    style.text_color.css,
    style.alignment.horizontal_align,
    style.alignment.vertical_align,
    style.mobile_alignment.horizontal_align,
    style.border_radius,
    style.background_color.css,
    style.background_gradient.css,
    style.background_type,
    style.background_image.css,
    style.content_gap,
    style.border.css,
    style.border.top.width.value,
    style.shadow,
    style.spacing.padding.top.value,
    style.spacing.padding.bottom.value,
    style.spacing.padding.left.value,
    style.spacing.padding.right.value,
    style.hover_effects,
    style.hover.text_color.css,
    style.hover.background_color.css,
    style.hover.border_color.css,
    style.border.top.color,
    style.hover.shadow,
    style.hover.animation
  ]) %}

  {# scoped styles for unicard module component #}
  {% require_css %}
    <style data-component="unicard scoped id{{scope_hash}}">
      .scope-root.id{{scope_hash}} {
        {% if style.text_color.css %}
          --scope-color: {{style.text_color.css if style.text_color.css}};
        {% endif %}
        --scope-alignment: {{css_alignment_macro(style.alignment.horizontal_align)}};
        --scope-border-radius: {{style.border_radius is truthy ? style.border_radius ~ "px" : 0 }};
        {% if style.alignment.vertical_align %}
          --scope-vertical-alignment: {{css_vertical_alignment_macro(style.alignment.vertical_align)}};
        {% endif %}
        {% if style.background_type == 'background_color' and style.background_color.css %}
          --scope-background: {{style.background_color.css}};
        {% elif style.background_type == 'background_gradient' and style.background_gradient.css %}
          background: {{style.background_gradient.css}};
        {% elif style.background_type == 'background_image' and style.background_image.css %}
          {{css_image_background_macro(style)}}
        {% endif %}
        --scope-content-gap: {{style.content_gap is truthy ? style.content_gap ~ 'px' : 0 }};
        --scope-border: {{style.border.css && style.border.top.width.value is truthy ? style.border.css|cut('border:') : 'none' }};
        --scope-border-width: {{style.border.css && style.border.top.width.value is truthy ? style.border.top.width.value ~ style.border.top.width.units : '0px' }};
        --scope-shadow: {{style.shadow is truthy ? 'var(--' ~ style.shadow ~ ')' : 'var(--shadow-)' }};
        --scope-padding-top: {{style.spacing.padding.top.value is truthy ? style.spacing.padding.top.value ~ style.spacing.padding.top.units : 0 }};
        --scope-padding-bottom: {{style.spacing.padding.bottom.value is truthy ? style.spacing.padding.bottom.value ~ style.spacing.padding.bottom.units : 0 }};
        --scope-padding-left: {{style.spacing.padding.left.value is truthy ? style.spacing.padding.left.value ~ style.spacing.padding.left.units : 0 }};
        --scope-padding-right: {{style.spacing.padding.right.value is truthy ? style.spacing.padding.right.value ~ style.spacing.padding.right.units : 0 }};
        --scope-padding: {{style.spacing.padding.top.value ~ style.spacing.padding.top.units if style.spacing.css|length <= 17 }};
      }
      {% if style.mobile_alignment.horizontal_align %}
        @media (max-width: 767.8px) {
          .scope-root.id{{scope_hash}} {
            --scope-alignment: {{css_alignment_macro(style.mobile_alignment.horizontal_align)}};
          }
        }
      {% endif %}
      {% if style.hover_effects %}
        @media (any-hover: hover) {
          .scope-root.id{{scope_hash}}:hover {
            {% if style.hover.text_color.css %}
              --scope-hover-color: {{style.hover.text_color.css}};
            {% endif %}
            {% if style.hover.border_color.css or style.border.top.color %}
              --scope-hover-border-color: {{style.hover.border_color.css ? style.hover.border_color.css : style.border.top.color}};
            {% endif %}
            --scope-hover-background: {{style.hover.background_color.css if style.hover.background_color.css}};
            --scope-hover-shadow: {{style.hover.shadow ? 'var(--' ~ style.hover.shadow ~ ')' : 'var(--scope-shadow)' }};
            --scope-hover-animation: {{style.hover.animation ? 'var(--' ~ style.hover.animation ~ ')' : 'var(--ani-)' }};
            box-shadow: var(--scope-hover-shadow);
            transform: var(--scope-hover-animation);
            color: var(--scope-hover-color);
            border-color: var(--scope-hover-border-color);
          }
          {% if style.background_type == 'background_image' and style.hover.background_color.css or style.background_type == 'background_gradient' and style.hover.background_color.css %}
            .scope-root.id{{scope_hash}}:after {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -10;
              background-color: rgb(255 255 255 / 0%);
              transition-property: background-color;
              transition-duration: var(--root-transition-duration);
              transition-timing-function: var(--root-transition-timing-function);
              border-radius: calc(var(--scope-border-radius) - var(--scope-border-width));
            }
            .scope-root.id{{scope_hash}}:hover:after {
              background-color: var(--scope-hover-background);
            }
          {% elif style.hover.background_color.css %}
            .scope-root.id{{scope_hash}}:hover {
              background-color: var(--scope-hover-background);
            }
          {% endif %}
        }
      {% endif %}
    </style>
  {% end_require_css %}

  {# stretched_link #}
  {% if data.whole_area_link and data.heading.heading_link_type == "link" and data.heading.heading_link.url.href %}
    {% set heading_stretched_link = true %}
  {% elif data.whole_area_link %}
    {% set button_stretched_link = true %}
  {% endif %}

  <div class="unicard scope-root id{{scope_hash}}">
    <div class="content-block-top">
      {% for component in data.module_components %}
        {% if component == 'media' %}
          {{media_group_macro(data)}}

        {% elif component == 'categories' %}
          {{category_group_macro(data)}}

        {% elif component == 'main_heading' %}
          {{heading_macro(data.heading)}}

        {% elif component == 'sub_heading' %}
          {{heading_macro(data.subheading)}}

        {% elif component == 'richtext' %}
          {{richtext_macro(data)}}

        {% elif component == 'custom_text' %}
          {{custom_text_group_macro(data)}}

        {% elif component == 'list' %}
          {{list_group_macro(data)}}

        {% elif component == 'accordion' %}
          {{accordion_group_macro(data)}}

        {% elif component == 'meeting' %}
          {{meeting_macro(data)}}

        {% elif component == 'form' %}
          {{form_macro(data.form_group)}}

        {% elif component == 'separator' %}
          </div>
          <div class="content-block-bottom">

        {% elif component == 'buttons' %}
          {{button_group_macro(data)}}

        {% elif component == 'additional_images' %}
          {% if data.additional_images_group|length > 0 %}
            <div class="additional-images">
              {% for image in data.additional_images_group %}
                {{simple_image_macro(image)}}
              {% endfor %}
            </div>
          {% endif %}

        {% elif component == 'simple_text' %}
          {{simple_text_macro(data)}}

        {% endif %}
      {% endfor %}
    </div>
  </div>

{%- endmacro -%}
