<!--
  templateType: global_partial
  label: Global footer
-->

{% require_css %}
  <style>
    {# icon color values can be overriden in module #}
    {% import '../../css/global-theme-settings/buttons.css' %}
    .social-links-module .icon-style {
      {% if btn_primary_background.css %}
        background-color: {{btn_primary_background.css}};
      {% endif %}
    }
    .social-links-module .icon-style:hover {
      background-color: {{rgb(btn_primary_hover_background_color, btn_primary_hover_background_opacity)}};
    }
    .social-links-module .icon-style svg {
      {% if btn_primary_font.color %}
        fill: {{btn_primary_font.color}};
      {% endif %}
    }
    .social-links-module .icon-style:hover svg {
      fill: {{btn_primary_hover_color}};
    }

    .global-footer_wrp .widget-type-simple_menu ul[role="menu"] {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .global-footer_wrp .widget-type-simple_menu a[role="menuitem"] {
      text-decoration: none;
    }
    .global-footer_wrp .widget-type-simple_menu .hs-menu-flow-vertical a[role="menuitem"] {
      padding: 6px 0;
    }
    .global-footer_wrp .widget-type-simple_menu .hs-menu-flow-horizontal ul[role="menu"] {
      display: flex;
      justify-content: flex-end;
      gap: 16px;
    }
    .global-footer_wrp .dnd-section .row-fluid [class*=span]:not([class*=vertical-alignment])>.dnd-row {
      flex-grow: 0;
    }
    @media (max-width: 991.98px) {
      .global-footer_wrp .widget-type-simple_menu .hs-menu-flow-horizontal ul[role="menu"] {
        justify-content: flex-start;
      }
    }
  </style>
{% end_require_css %}

<footer class="global-footer_wrp hs-search-hidden">

  {% dnd_area 'global-footer-dndarea'
    label='Global footer'
    class='global-footer global-partial'
  %}

    {% dnd_section
      padding={
        "default" : {
          "top" : "100px"
        },
        "mobile" : {
          "top" : "60px"
        }
      },
      full_width=false
    %}
      {% dnd_column
        offset=0,
        width=12
      %}
        {% dnd_row %}
          {% dnd_column
            offset=0,
            width=3
          %}
            {% dnd_row %}
              {% dnd_module
                path="../../modules/unicard",
                offset=0,
                width=12,
                heading={
                  "heading_text" : ""
                },
                media_type="simple_image",
                simple_image_group={
                  "simple_image" : {
                    "alt" : "nimbly",
                    "height" : 46,
                    "loading" : "lazy",
                    "src" : "../../images/content/nimbly/nimbly-logo-black.svg",
                    "width" : 187
                  }
                },
                style={
                  "background_color" : {
                    "opacity" : 100
                  },
                  "background_type" : "",
                  "content_gap" : 34,
                  "hover_effects" : false,
                  "shadow" : "",
                  "spacing" : {
                    "padding" : {
                      "bottom" : {
                        "units" : "px",
                        "value" : 0
                      },
                      "left" : {
                        "units" : "px",
                        "value" : 0
                      },
                      "right" : {
                        "units" : "px",
                        "value" : 0
                      },
                      "top" : {
                        "units" : "px",
                        "value" : 0
                      }
                    }
                  }
                },
                module_components=[ "media", "richtext" ]
              %}
                {% module_attribute "richtext" %}
                  <p style="line-height: 1;"><span>Drottninggatan 38</span></p>
                  <p style="line-height: 1;"><span>211 41 MALMÖ</span></p>
                  <p style="line-height: 1;"><span>TEL +46 (0) 40 617 12 30</span></p>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                path="../../modules/social-links",
                offset=0,
                width=12,
                style={
                  "general" : {
                    "spacing" : {
                      "spacing" : {
                        "padding" : {
                          "bottom" : { },
                          "left" : { },
                          "right" : {
                            "units" : "px",
                            "value" : 10
                          },
                          "top" : {
                            "units" : "px",
                            "value" : 30
                          }
                        }
                      }
                    }
                  },
                  "icon" : {
                    "background" : { },
                    "custom_theme_overrides" : {
                      "background" : {
                        "color" : "",
                        "opacity" : 100
                      },
                      "border" : {
                        "bottom" : {
                          "style" : "none"
                        },
                        "left" : {
                          "style" : "none"
                        },
                        "right" : {
                          "style" : "none"
                        },
                        "top" : {
                          "style" : "none"
                        }
                      },
                      "color" : {
                        "color" : "",
                        "opacity" : 100
                      },
                      "spacing" : {
                        "padding" : {
                          "bottom" : {
                            "units" : "px",
                            "value" : 5
                          },
                          "left" : {
                            "units" : "px",
                            "value" : 5
                          },
                          "right" : {
                            "units" : "px",
                            "value" : 5
                          },
                          "top" : {
                            "units" : "px",
                            "value" : 5
                          }
                        }
                      }
                    },
                    "hover" : {
                      "background" : {
                        "color" : "",
                        "opacity" : 100
                      },
                      "color" : {
                        "color" : "",
                        "opacity" : 100
                      }
                    },
                    "presets" : {
                      "icon_shape" : "circle",
                      "icon_size" : "small"
                    },
                    "spacing" : {
                      "spacing" : {
                        "padding" : {
                          "bottom" : {
                            "units" : "px",
                            "value" : 5
                          },
                          "left" : { },
                          "right" : {
                            "units" : "px",
                            "value" : 5
                          },
                          "top" : { }
                        }
                      }
                    }
                  }
                },
                link_group=[ {
                  "icon" : {
                    "icon" : {
                      "name" : "LinkedIn In",
                      "type" : "REGULAR",
                      "unicode" : "f0e1"
                    }
                  },
                  "link" : {
                    "accessible_link" : false,
                    "link" : {
                      "no_follow" : false,
                      "open_in_new_tab" : false,
                      "url" : {
                        "href" : "https://www.linkedin.com",
                        "type" : "EXTERNAL"
                      }
                    }
                  },
                  "link_label" : {
                    "link_label" : "LinkedIn"
                  }
                }, {
                  "icon" : {
                    "icon" : {
                      "name" : "Facebook F",
                      "type" : "REGULAR",
                      "unicode" : "f39e"
                    }
                  },
                  "link" : {
                    "accessible_link" : false,
                    "link" : {
                      "no_follow" : false,
                      "open_in_new_tab" : false,
                      "url" : {
                        "href" : "https://www.facebook.com",
                        "type" : "EXTERNAL"
                      }
                    }
                  },
                  "link_label" : {
                    "link_label" : "Facebook"
                  }
                }, {
                  "icon" : {
                    "icon" : {
                      "name" : "Instagram",
                      "type" : "REGULAR",
                      "unicode" : "f16d"
                    }
                  },
                  "link" : {
                    "accessible_link" : false,
                    "link" : {
                      "no_follow" : false,
                      "open_in_new_tab" : false,
                      "url" : {
                        "href" : "https://www.instagram.com",
                        "type" : "EXTERNAL"
                      }
                    }
                  },
                  "link_label" : {
                    "link_label" : "Instagram"
                  }
                }, {
                  "icon" : {
                    "icon" : {
                      "name" : "YouTube",
                      "type" : "REGULAR",
                      "unicode" : "f167"
                    }
                  },
                  "link" : {
                    "accessible_link" : false,
                    "link" : {
                      "no_follow" : false,
                      "open_in_new_tab" : false,
                      "url" : {
                        "href" : "https://www.youtube.com",
                        "type" : "EXTERNAL"
                      }
                    }
                  },
                  "link_label" : {
                    "link_label" : "Youtube"
                  }
                }, {
                  "icon" : {
                    "icon" : {
                      "name" : "X-Twitter",
                      "type" : "REGULAR",
                      "unicode" : "e61b"
                    }
                  },
                  "link" : {
                    "accessible_link" : false,
                    "link" : {
                      "no_follow" : false,
                      "open_in_new_tab" : false,
                      "url" : {
                        "href" : "https://www.x.com",
                        "type" : "EXTERNAL"
                      }
                    }
                  },
                  "link_label" : {
                    "link_label" : "Twitter"
                  }
                } ]
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=3,
            width=3
          %}
            {% dnd_row %}
              {% dnd_module
                path="../../modules/unicard",
                offset=0,
                width=12,
                heading={
                  "heading_style" : "h6",
                  "heading_text" : "Quick Links",
                  "heading_text_prop_visibility" : false
                },
                style={
                  "background_color" : {
                    "opacity" : 100
                  },
                  "background_type" : "",
                  "hover_effects" : false,
                  "shadow" : "",
                  "spacing" : {
                    "padding" : {
                      "bottom" : {
                        "units" : "px",
                        "value" : 10
                      },
                      "left" : {
                        "units" : "px",
                        "value" : 0
                      },
                      "right" : {
                        "units" : "px",
                        "value" : 0
                      },
                      "top" : {
                        "units" : "px",
                        "value" : 0
                      }
                    }
                  }
                },
                module_components=[ "main_heading" ]
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                path="@hubspot/simple_menu",
                offset=0,
                width=12,
                menu_tree=[ {
                  "children" : [ ],
                  "isPublished" : false,
                  "linkLabel" : "How Nimbly works",
                  "linkUrl" : "/how-nimbly-works",
                  "type" : "URL_LINK"
                }, {
                  "children" : [ ],
                  "isPublished" : false,
                  "linkLabel" : "Use Cases",
                  "linkUrl" : "/use-cases",
                  "type" : "URL_LINK"
                }, {
                  "children" : [ ],
                  "isPublished" : false,
                  "linkLabel" : "Support",
                  "linkUrl" : "/support",
                  "type" : "URL_LINK"
                }, {
                  "children" : [ ],
                  "isPublished" : false,
                  "linkLabel" : "About",
                  "linkUrl" : "/about",
                  "type" : "URL_LINK"
                }, {
                  "children" : [ ],
                  "isPublished" : false,
                  "linkLabel" : "Contact",
                  "linkUrl" : "/contact",
                  "type" : "URL_LINK"
                } ]
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=6,
            width=3
          %}
            {% dnd_row %}
              {% dnd_module
                path="../../modules/unicard",
                offset=0,
                width=12,
                heading={
                  "heading_style" : "h6",
                  "heading_text" : "Quick Links",
                  "heading_text_prop_visibility" : false
                },
                style={
                  "background_color" : {
                    "opacity" : 100
                  },
                  "background_type" : "",
                  "hover_effects" : false,
                  "shadow" : "",
                  "spacing" : {
                    "padding" : {
                      "bottom" : {
                        "units" : "px",
                        "value" : 10
                      },
                      "left" : {
                        "units" : "px",
                        "value" : 0
                      },
                      "right" : {
                        "units" : "px",
                        "value" : 0
                      },
                      "top" : {
                        "units" : "px",
                        "value" : 0
                      }
                    }
                  }
                },
                module_components=[ "main_heading" ]
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                path="@hubspot/simple_menu",
                offset=0,
                width=12,
                menu_tree=[ {
                  "children" : [ ],
                  "isPublished" : false,
                  "linkLabel" : "How Nimbly works",
                  "linkUrl" : "/how-nimbly-works",
                  "type" : "URL_LINK"
                }, {
                  "children" : [ ],
                  "isPublished" : false,
                  "linkLabel" : "Use Cases",
                  "linkUrl" : "/use-cases",
                  "type" : "URL_LINK"
                }, {
                  "children" : [ ],
                  "isPublished" : false,
                  "linkLabel" : "Support",
                  "linkUrl" : "/support",
                  "type" : "URL_LINK"
                }, {
                  "children" : [ ],
                  "isPublished" : false,
                  "linkLabel" : "About",
                  "linkUrl" : "/about",
                  "type" : "URL_LINK"
                }, {
                  "children" : [ ],
                  "isPublished" : false,
                  "linkLabel" : "Contact",
                  "linkUrl" : "/contact",
                  "type" : "URL_LINK"
                } ]
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=9,
            width=3
          %}
            {% dnd_row %}
              {% dnd_module
                path="../../modules/unicard",
                offset=0,
                width=12,
                heading={
                  "heading_style" : "h6",
                  "heading_text" : "Quick Links",
                  "heading_text_prop_visibility" : false
                },
                style={
                  "background_color" : {
                    "opacity" : 100
                  },
                  "background_type" : "",
                  "hover_effects" : false,
                  "shadow" : "",
                  "spacing" : {
                    "padding" : {
                      "bottom" : {
                        "units" : "px",
                        "value" : 10
                      },
                      "left" : {
                        "units" : "px",
                        "value" : 0
                      },
                      "right" : {
                        "units" : "px",
                        "value" : 0
                      },
                      "top" : {
                        "units" : "px",
                        "value" : 0
                      }
                    }
                  }
                },
                module_components=[ "main_heading" ]
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                path="@hubspot/simple_menu",
                offset=0,
                width=12,
                menu_tree=[ {
                  "children" : [ ],
                  "isPublished" : false,
                  "linkLabel" : "How Nimbly works",
                  "linkUrl" : "/how-nimbly-works",
                  "type" : "URL_LINK"
                }, {
                  "children" : [ ],
                  "isPublished" : false,
                  "linkLabel" : "Use Cases",
                  "linkUrl" : "/use-cases",
                  "type" : "URL_LINK"
                }, {
                  "children" : [ ],
                  "isPublished" : false,
                  "linkLabel" : "Support",
                  "linkUrl" : "/support",
                  "type" : "URL_LINK"
                }, {
                  "children" : [ ],
                  "isPublished" : false,
                  "linkLabel" : "About",
                  "linkUrl" : "/about",
                  "type" : "URL_LINK"
                }, {
                  "children" : [ ],
                  "isPublished" : false,
                  "linkLabel" : "Contact",
                  "linkUrl" : "/contact",
                  "type" : "URL_LINK"
                } ]
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_column
            offset=0,
            width=12,
            padding={
              "default" : {
                "bottom" : "50px",
                "top" : "50px"
              },
              "mobile" : {
                "bottom" : "20px",
                "top" : "20px"
              }
            }
          %}
            {% dnd_row %}
              {% dnd_module
                path="/nimbly-lite/modules/n-divider",
                offset=0,
                width=12,
                style={
                  "color" : {
                    "color" : { }
                  }
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_column
            offset=0,
            width=12,
            padding={
              "default" : {
                "bottom" : "100px"
              },
              "mobile" : {
                "bottom" : "40px"
              }
            }
          %}
            {% dnd_row %}
              {% dnd_module
                path="@hubspot/text",
                offset=0,
                width=12,
                value="© {{ local_dt|datetimeformat('%Y') }} Nimbly"
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

  {% end_dnd_area %}
</footer>
