<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: Password prompt
  screenshotPath: ../../images/template-previews/password-prompt.jpg
-->

{% set template_css = "../../css/templates/system/password-prompt.css" %}
{% extends "../layouts/base.html" %}
{% set pageTitle = "This page is private | Enter password" %}
{% set form_class = 'password-prompt-module' ~ ' ' ~ 'form-default' ~ ' ' ~ theme.forms.button.presets.style ~ ' ' ~ theme.forms.button.presets.size %}


{% block body %}
  <div class="password-prompt_wrp system-page_wrp">
    <div class="password-prompt system-page">
      {% module_block module 'richtext' path="../../modules/richtext"  %}
        {% module_attribute "rich_text" %}
          <h1>Password Required</h1>
          <p>Please enter the password required to view this page.</p>
        {% end_module_attribute %}
      {% end_module_block %}
      {% module "password_prompt"
        extra_classes={{form_class}}
        path="@hubspot/password_prompt"
        label="Password Prompt"
      %}
    </div>
  </div>
{% endblock body %}
