/* Grid / DND area */
{% if theme.layout.maximum_content_width == 'custom' %}
  {% set container_width = theme.layout.custom_maximum_content_width %}
{% else %}
  {% set container_width = theme.layout.maximum_content_width %}
{% endif %}
{% set vertical_spacing = theme.layout.vertical_spacing %}


:root {
  --gap: 24px;
  --max-width: {{container_width ~ 'px'}};
  --section-vertical-spacing: {{vertical_spacing ~ 'px'}};
  --section-horizontal-spacing: 60px;
  --section-horizontal-spacing-mobile: 20px;
  /* columns */
  --col1: calc(8.333% - var(--gap)*0.91663);
  --col2: calc(16.666% - var(--gap)*0.8333);
  --col3: calc(25% - var(--gap)*0.75);
  --col4: calc(33.333% - var(--gap)*0.6667);
  --col5: calc(41.666% - var(--gap)*0.5833);
  --col6: calc(50% - var(--gap)*0.5);
  --col7: calc(58.333% - var(--gap)*0.4167);
  --col8: calc(66.666% - var(--gap)*0.3333);
  --col9: calc(75% - var(--gap)*0.25);
  --col10: calc(83.333% - var(--gap)*0.1667);
  --col11: calc(91.666% - var(--gap)*0.0833);
}

.dnd-section>.row-fluid,
.custom-section,
.blog-post-section,
.system-page {
  margin-right: auto;
  margin-left: auto;
  max-width: var(--max-width);
}

/* section spacing on mobile */
.dnd-section {
  padding-top: calc(var(--section-vertical-spacing)/2);
  padding-bottom: calc(var(--section-vertical-spacing)/2);
}
.dnd-section:not([class*="force-full-width-section"]) {
  padding-left: var(--section-horizontal-spacing-mobile);
  padding-right: var(--section-horizontal-spacing-mobile);
}

/* section spacing on tablet (vertical position) */
@media (min-width: 540px) {
  .dnd-section:not([class*="force-full-width-section"]) {
    padding-left: calc(var(--section-horizontal-spacing));
    padding-right: calc(var(--section-horizontal-spacing));
  }
}
@media (min-width: 640px) {
  .dnd-section:not([class*="force-full-width-section"]) {
    padding-left: calc(var(--section-horizontal-spacing)/2);
    padding-right: calc(var(--section-horizontal-spacing)/2);
  }
}

/* section spacing on desktop */
@media (min-width: 1024px) {
  .dnd-section {
    padding-bottom: var(--section-vertical-spacing);
    padding-top: var(--section-vertical-spacing);
  }
  .dnd-section:not([class*="force-full-width-section"]) {
    padding-left: var(--section-horizontal-spacing);
    padding-right: var(--section-horizontal-spacing);
  }
}

.dnd-section .row-fluid {
  gap: var(--gap);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .dnd-section .row-fluid {
    flex-wrap:nowrap;
  }
}

.row-fluid > [class*="span"] {
  min-height: 1px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.widget-span:not(.dnd-module) {
  position: relative;
}

.dnd-section .row-fluid [class*="span"]:not([class*="vertical-alignment"]) > .dnd-row {
  flex-grow: 1;
}

/* general grid setup on 360px and above to 640px */
@media (min-width: 360px) {
  .row-fluid > .span1 {
    width: var(--col6);
  }
  .row-fluid > .span2 {
    width: var(--col6);
  }
}

/* general grid setup on 640px and above to 900px */
@media (min-width: 640px) {
  .row-fluid > .span1 {
    width: var(--col2);
  }

  .row-fluid > .span2 {
    width: var(--col4);
  }

  .row-fluid > .span3 {
    width: var(--col6);
  }

  .row-fluid > .span4 {
    width: var(--col6);
  }

  .row-fluid > .span5 {
    width: var(--col6);
  }

  .row-fluid > .span6 {
    width: var(--col6);
  }

  .row-fluid > .span7 {
    width: var(--col6);
  }
}

/* general grid setup on 920px and above */
@media (min-width: 992px) {
  .row-fluid > .span1 {
    width: var(--col1);
  }

  .row-fluid > .span2 {
    width: var(--col2);
  }

  .row-fluid > .span3 {
    width: var(--col3);
  }

  .row-fluid > .span4 {
    width: var(--col4);
  }

  .row-fluid > .span5 {
    width: var(--col5);
  }

  .row-fluid > .span6 {
    width: var(--col6);
  }

  .row-fluid > .span7 {
    width: var(--col7);
  }

  .row-fluid > .span8 {
    width: var(--col8);
  }

  .row-fluid > .span9 {
    width: var(--col9);
  }

  .row-fluid > .span10 {
    width: var(--col10);
  }
  .row-fluid > .span11 {
    width: var(--col11);
  }
}

.dnd-module > .hs_cos_wrapper_type_module {
  height: 100%;
}
