{%- macro horizontal_alignment_flexbox(data) -%}
  {%- if data == 'LEFT' -%}
    start
  {%- elif data == 'CENTER' -%}
    center
  {%- elif data == 'RIGHT' -%}
    end
  {%- endif -%}
{%- endmacro -%}

{%- macro gradient(data) -%}
  {%- if data.gradient_direction -%}
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient({{data.gradient_direction}}, {{data.gradient_color|map('css')|join(',')}});
  {%- endif -%}
{%- endmacro -%}
