.unicard-filter {
  --columns: 1;
}

@media (min-width: 600px) {
  .unicard-filter {
    --columns: 2;
  }
}

@media (min-width: 900px) {
  .unicard-filter {
    --columns: 3;
  }
}

.unicard-filter-buttons-wrp {
  padding-bottom: 20px;
}

.unicard-filter .iso-item {
  width: calc((100% / var(--columns)) - var(--gutter) + (var(--gutter) / var(--columns)));
  margin-bottom: var(--gutter);
  min-height: auto !important;
}

.unicard-filter .iso-gutter-sizer {
  width: var(--gutter);
}
