{# add base styles to module previewer #}
{% if is_in_module_previewer %}
  {{require_css(get_asset_url("../../css/base.css"))}}
  {{require_css(get_asset_url("../../css/global-theme-settings.css"))}}
{% endif %}
{# *** #}
{% import '../../macros/components/buttons.html' as buttons %}
{% import '../../macros/components/heading.html' as heading %}
{% import '../../macros/components/subheading.html' as subheading %}
{% import '../../macros/components/custom-text.html' as customText %}
{% import '../../macros/components/richtext.html' as richtext %}
{% import '../../macros/components/full-width-image.html' as fullWidthImage %}
{% import '../../macros/components/icon.html' as icon %}
{% import '../../macros/components/lottie.html' as lottie %}
{% import '../../macros/components/simple-image.html' as simpleImage %}
{% import '../../css/macros.css' %}

{% if module.style.hover.background_color.css and module.style.hover_effects %}
  {% require_css %}
    <style>
      @media (any-hover: hover) {
        .card2-module:after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -10;
          background-color: rgb(255 255 255 / 0%);
          transition-property: background-color;
          transition-duration: var(--root-transition-duration);
          transition-timing-function: var(--root-transition-timing-function);
          border-radius: var(--module-border-radius);
        }
        .card2-module:hover:after {
          background-color: var(--module-hover-background);
        }
      }
    </style>
  {% end_require_css %}
{% endif %}
<style>
  {% scope_css %}
    .card2-module {
      --module-color: {{module.style.text_color.css is truthy ? module.style.text_color.css : 'initial' }};
      --module-alignment: {{horizontal_alignment_flexbox(module.style.alignment.horizontal_align)}};
      --module-border-radius: {{module.style.border_radius is truthy ? module.style.border_radius ~ "px" : 0 }};
      {% if module.style.background_type == 'background_color' %}
        --module-background: {{module.style.background_color.css is truthy ? module.style.background_color.css : 'initial' }};
      {% elif module.style.background_type == 'background_gradient' %}
        background: {{module.style.background_gradient.css is truthy ? module.style.background_gradient.css : 'initial' }};
      {% elif module.style.background_type == 'background_image' %}
        {{module.style.background_image.css}}
      {% endif %}
      --module-content-gap: {{module.style.content_gap is truthy ? module.style.content_gap ~ 'px' : 0 }};
      --module-border: {{module.style.border.css && module.style.border.top.width.value is truthy ? module.style.border.css|cut('border:') : 'none' }};
      --module-shadow: {{module.style.shadow is truthy ? 'var(--' ~ module.style.shadow ~ ')' : 'var(--shadow-)' }};
      --module-margin-top: {{module.style.spacing.margin.top.value is truthy ? module.style.spacing.margin.top.value ~ module.style.spacing.margin.top.units : 0 }};
      --module-margin-bottom: {{ module.style.spacing.margin.bottom.value is truthy ? module.style.spacing.margin.bottom.value ~ module.style.spacing.margin.bottom.units : 0 }};
      --module-padding-top: {{module.style.spacing.padding.top.value is truthy ? module.style.spacing.padding.top.value ~ module.style.spacing.padding.top.units : 0 }};
      --module-padding-bottom: {{module.style.spacing.padding.bottom.value is truthy ? module.style.spacing.padding.bottom.value ~ module.style.spacing.padding.bottom.units : 0 }};
      --module-padding-left: {{module.style.spacing.padding.left.value is truthy ? module.style.spacing.padding.left.value ~ module.style.spacing.padding.left.units : 0 }};
      --module-padding-right: {{module.style.spacing.padding.right.value is truthy ? module.style.spacing.padding.right.value ~ module.style.spacing.padding.right.units : 0 }};
      --module-hover-color: {{module.style.hover.text_color.css and module.style.hover_effects is truthy ? module.style.hover.text_color.css : 'var(--module-color)' }};
      --module-hover-background: {{module.style.hover.background_color.css and module.style.hover_effects is truthy ? module.style.hover.background_color.css : 'var(--module-background)' }};
      --module-hover-shadow: {{module.style.hover.shadow and module.style.hover_effects is truthy ? 'var(--' ~ module.style.hover.shadow ~ ')' : 'var(--module-shadow)' }};
      --module-hover-animation: {{module.style.hover.animation and module.style.hover_effects is truthy ? 'var(--' ~ module.style.hover.animation ~ ')' : 'var(--ani-)' }};

      /* card-content-blocks */
      {# --card-content-separator-gap: {{module.style.content_block_styles and module.style.content_separator_gap is truthy ? module.style.content_separator_gap ~ 'px' : 'var(--module-content-gap)'}}; #}

      {# --card-top-block-background: {{module.style.content_block_styles and module.style.top_content_block.background_color.css is truthy ? module.style.top_content_block.background_color.css : 'initial'}}; #}
      {# --card-top-block-border: {{module.style.content_block_styles and module.style.top_content_block.border.css and module.style.top_content_block.border.top.width.value is truthy ? module.style.top_content_block.border.css|cut('border:') : 'none'}}; #}
      {# --card-top-block-border-radius: {{module.style.content_block_styles and module.style.top_content_block.border_radius is truthy ? module.style.top_content_block.border_radius ~ "px" : 0}}; #}
      {# --card-top-block-padding: {{module.style.content_block_styles and module.style.top_content_block.spacing.css is truthy ? padding(module.style.top_content_block.spacing) : 0}}; #}

      {# --card-bottom-block-background: {{module.style.content_block_styles and module.style.bottom_content_block.background_color.css is truthy ? module.style.bottom_content_block.background_color.css : 'initial'}}; #}
      {# --card-bottom-block-border: {{module.style.content_block_styles and module.style.bottom_content_block.border.css and module.style.bottom_content_block.border.top.width.value is truthy ? module.style.bottom_content_block.border.css|cut('border:') : 'none'}}; #}
      {# --card-bottom-block-border-radius: {{module.style.content_block_styles and module.style.bottom_content_block.border_radius is truthy ? module.style.bottom_content_block.border_radius ~ "px" : 0}}; #}
      {# --card-bottom-block-padding: {{module.style.content_block_styles and module.style.bottom_content_block.spacing.css is truthy ? padding(module.style.bottom_content_block.spacing) : 0}}; #}
      }

      {% if module.style.background_type == 'background_image' and module.style.background_image_overlay.css %}
        .card2-module:before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -12;
          background-color: {{module.style.background_image_overlay.css}};
          border-radius: var(--module-border-radius);
        }
      {% endif %}
  {% end_scope_css %}
</style>
{# stretched_link #}
{% if module.whole_area_link and module.heading.heading_link_type == "link" and module.heading.heading_link.url.href %}
  {% set heading_stretched_link = true %}
{% elif module.whole_area_link %}
  {% set btn_stretched_link = true %}
{% endif %}

{%- macro render_image(isfirst, islast) -%}
  {% if module.image_type == 'full_width_image' %}
    {{fullWidthImage.render(module.full_width_image_group, isfirst, islast)}}
  {% elif module.image_type == 'simple_image' %}
    {{simpleImage.render(module.simple_image_group)}}
  {% elif module.image_type == 'icon' %}
    {{icon.render(module.icon_group)}}
  {% elif module.image_type == 'lottie' %}
    {{lottie.render(module.lottie_group)}}
  {% endif %}
{%- endmacro -%}

<div class="card2-module">
  <div class="content-block-top">
    {% for item in module.components %}
      {% if item.component|lower == 'image' %}
        {{render_image(loop.first, loop.last)}}

      {% elif item.component|lower == 'heading' %}
        {{heading.render(module.heading)}}

      {% elif item.component|lower == 'subheading' %}
        {{subheading.render(module)}}

      {% elif item.component|cut(" ")|lower == 'customtext' %}
        {{customText.render(module)}}

      {% elif item.component|cut(" ")|lower == 'richtext' %}
        {{richtext.render(module)}}

      {% elif item.component|lower == 'buttons' %}
        {{buttons.render(module)}}

      {% elif item.component|cut(" ")|lower == 'additionalimages' %}
        {% if module.additional_images|length > 0 %}
          <div class="additional-images">
            {% for image in module.additional_images %}
              {{simpleImage.render(image)}}
            {% endfor %}
          </div>
        {% endif %}

      {% elif item.component|lower == 'separator' and !loop.last %}
        </div>
        <div class="content-block-bottom">

      {% endif %}

    {% endfor %}
  </div>
</div>
