.card2-module {
  color: var(--module-color);
  fill: var(--module-color);
  background-color: var(--module-background);
  border: var(--module-border);
  border-radius: var(--module-border-radius);
  box-shadow: var(--module-shadow);
  gap: var(--module-content-gap);
  padding-left: var(--module-padding-left);
  padding-right: var(--module-padding-right);
  padding-top: var(--module-padding-top);
  padding-bottom: var(--module-padding-bottom);
  justify-content: space-between;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  transition-property: box-shadow, transform, background-color, color, fill;
  transition-duration: var(--root-transition-duration);
  transition-timing-function: var(--root-transition-timing-function);
  transform: translateZ(0);
  will-change: transform;
}

/* content blocks styles */
.card2-module .content-block-top {
  display: flex;
  flex-direction: column;
  margin-top: var(--module-margin-top);
  margin-bottom: var(--module-margin-bottom);
  /* background-color: var(--card-top-block-background); */
  /* border: var(--card-top-block-border); */
  /* border-radius: var(--card-top-block-border-radius); */
  /* padding: var(--card-top-block-padding); */
}

.card2-module .content-block-bottom {
  display: flex;
  flex-direction: column;
  /* background-color: var(--card-bottom-block-background); */
  /* border: var(--card-bottom-block-border); */
  /* border-radius: var(--card-bottom-block-border-radius); */
  /* padding: var(--card-bottom-block-padding); */
}

/* generaral card components flexbox gap */
.card2-module .content-block-top,
.card2-module .content-block-bottom,
.card2-module .additional-images {
  gap: var(--module-content-gap);
}

/* general card alignment */
.card2-module .content-block-top,
.card2-module .content-block-bottom {
  align-items: var(--module-alignment);
}

.card2-module .additional-images {
  justify-content: var(--module-alignment);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* hover styles */
@media (any-hover: hover) {
  .card2-module:hover {
    color: var(--module-hover-color);
    fill: var(--module-hover-color);
    box-shadow: var(--module-hover-shadow);
    transform: var(--module-hover-animation);
  }
}
