.card2-module {
  color: var(--module-color);
  fill: var(--module-color);
  background-color: var(--card-background);
  border: var(--card-border);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  margin-top: var(--card-margin-top);
  margin-bottom: var(--card-margin-bottom);
  gap: var(--card-content-separator-gap);
  padding: var(--card-padding);
  justify-content: space-between;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  transition-property: box-shadow, transform, background-color;
  transition-duration: var(--root-transition-duration, 300ms);
  transition-timing-function: var(--root-transition-timing-function, cubic-bezier(0.5,0.05,0.2,1.5));
  transform: translateZ(0);
}

/* content blocks styles */
.card2-module .content-block-top {
  display: flex;
  flex-direction: column;
  background-color: var(--card-top-block-background);
  border: var(--card-top-block-border);
  border-radius: var(--card-top-block-border-radius);
  padding: var(--card-top-block-padding);
}

.card2-module .content-block-bottom {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bottom-block-background);
  border: var(--card-bottom-block-border);
  border-radius: var(--card-bottom-block-border-radius);
  padding: var(--card-bottom-block-padding);
}

/* generaral card components flexbox gap */
.card2-module .content-block-top,
.card2-module .content-block-bottom,
.card2-module .buttons-wrp,
.card2-module .additional-images {
  gap: var(--card-content-gap);
}

/* general card alignment */
.card2-module .content-block-top,
.card2-module .content-block-bottom {
  align-items: var(--module-alignment);
}

.card2-module .additional-images {
  justify-content: var(--module-alignment);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* hover styles */
@media (any-hover: hover) {
  .card2-module:hover {
    background-color: var(--card-hover-overlay);
    box-shadow: var(--card-hover-shadow);
    transform: var(--card-hover-animation);
  }
}

/* todo */
/* image radius??? */
