{% import '../../macros/buttons.html' as buttons %}
{% import '../../macros/heading.html' as heading %}
{% import '../../macros/subheading.html' as subheading %}
{% import '../../macros/text.html' as text %}
{% import '../../macros/richtext.html' as richtext %}
{% import '../../macros/full-width-image.html' as fullWidthImage %}
{% import '../../macros/icon.html' as icon %}
{% import '../../macros/lottie.html' as lottie %}
{% import '../../macros/simple-image.html' as simpleImage %}



{% macro horizontal_alignment_flexbox(data) %}
  {% if data == 'LEFT' %}
    start
  {% elif data == 'CENTER' %}
    center
  {% elif data == 'RIGHT' %}
    end
  {% endif %}
{% endmacro %}

{# module scope css #}
<style>
  {% scope_css %}
    .card2-module {
      --richtext-alignment: {{module.style.general.alignment.horizontal_align|lower}};
      --card-alignment: {{horizontal_alignment_flexbox(module.style.general.alignment.horizontal_align)}};
      --text-color: {{module.style.general.text_color.css}};
      {# --stretched-link-overlay-color: {{module.style.general.overlay_color.css}}; #}
      --card-gap: {{module.style.general.card_gap}}px;

      box-shadow:{{module.style.general.card_shadow}};
      {{module.style.general.border.css}}
      {{module.style.general.spacing.css}}
      {% if module.style.general.border_radius > 0 %}
        border-radius: {{module.style.general.border_radius ~ 'px'}};
      {% endif %}
      {% if module.style.general.background_type == 'background_color' %}
        background-color: {{module.style.general.background_color.css}};
      {% elif module.style.general.background_type == 'background_image' %}
        {{module.style.general.background_image.css}}
      {% elif module.style.general.background_type == 'background_gradient' %}
        background: {{module.style.general.background_gradient.css}};
      {% endif %}
    }
  {% end_scope_css %}
</style>

{# stretched_link #}
{% if module.whole_area_link and module.enable_heading_link and module.heading_link.url.href %}
  {% set heading_stretched_link = true %}
{% elif module.whole_area_link %}
  {% set btn_stretched_link = true %}
{% endif %}

{%- macro render_image() -%}
  {% if module.image_type == 'full_width' %}
    {{fullWidthImage.render(module.full_width)}}
  {% elif module.image_type == 'image' %}
    {{simpleImage.render(module.image)}}
  {% elif module.image_type == 'icon' %}
    {{icon.render(module.icon)}}
  {% elif module.image_type == 'lottie' %}
    {{lottie.render(module.lottie, module)}}
  {% endif %}
{%- endmacro -%}

<div class="card2-module {{module_id}} {{module.style.general.card_shadow if module.style.general.card_shadow is containing 'custom'}} {{module.style.general.animation}}">
  <div class="block-top">
    {% for item in module.components %}
      {% if item.component|lower == 'image' %}
        {{render_image()}}
      {% elif item.component|lower == 'heading' %}
        {{heading.render(module)}}
      {% elif item.component|lower == 'subheading' %}
        {{subheading.render(module)}}
      {% elif item.component|lower == 'text' %}
        {{text.render(module)}}
      {% elif item.component|cut(" ")|lower == 'richtext' %}
        {{richtext.render(module)}}
      {% elif item.component|lower == 'separator' %}
        </div>
        <div class="block-bottom">
      {% elif item.component|lower == 'buttons' %}
        {{buttons.render(module.buttons, module.style, module)}}
      {% elif item.component|cut(" ")|lower == 'additionalimages' %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{# add base styles to module previewer #}
{% if is_in_module_previewer %}
  {{require_css(get_asset_url("../../css/base.css"))}}
  {{require_css(get_asset_url("../../css/global-theme-settings.css"))}}
{% endif %}
