{% import '../../macros/buttons.html' as buttons %}
{% import '../../macros/heading.html' as heading %}
{% import '../../macros/subheading.html' as subheading %}
{% import '../../macros/text.html' as text %}
{% import '../../macros/richtext.html' as richtext %}
{% import '../../macros/full-width-image.html' as fullWidthImage %}
{% import '../../macros/icon.html' as icon %}
{% import '../../macros/lottie.html' as lottie %}
{% import '../../macros/simple-image.html' as simpleImage %}
{% import '../../css/macros.css' %}

<style>
  {% scope_css %}
    .card2-module {
      --card-color: {{module.style.general.text_color.css is truthy ? module.style.general.text_color.css : 'initial' }};
      --card-background: {{module.style.general.background_color.css is truthy ? module.style.general.background_color.css : 'initial' }};
      --card-alignment: {{horizontal_alignment_flexbox(module.style.general.alignment.horizontal_align)}};
      --card-content-gap: {{module.style.general.content_gap is truthy ? module.style.general.content_gap ~ 'px' : 0 }};
      --card-border: {{module.style.general.border.css && module.style.general.border.top.width.value is truthy ? module.style.general.border.css|cut('border:') : 'none' }};
      --card-border-radius: {{module.style.general.border_radius is truthy ? module.style.general.border_radius ~ "px" : 0 }};
      --card-shadow: {{module.style.general.shadow is truthy ? 'var(--' ~ module.style.general.shadow ~ ')' : 'none' }};
      --card-margin-top: {{module.style.general.spacing.margin.top.value is truthy ? module.style.general.spacing.margin.top.value ~ module.style.general.spacing.margin.top.units : 0 }};
      --card-margin-bottom: {{ module.style.general.spacing.margin.bottom.value is truthy ? module.style.general.spacing.margin.bottom.value ~ module.style.general.spacing.margin.bottom.units : 0 }};
      --card-padding: {{padding(module.style.general.spacing)}};

      --card-hover-overlay: {{module.style.hover.overlay_color.css && module.style.hover_effects is truthy ? module.style.hover.overlay_color.css : 'var(--card-background)' }};
      --card-hover-shadow: {{module.style.hover.shadow && module.style.hover_effects is truthy ? 'var(--' ~ module.style.hover.shadow ~ ')' : 'var(--card-shadow)' }};
      --card-hover-animation: {{module.style.hover.animation && module.style.hover_effects is truthy ? 'var(--' ~ module.style.hover.animation ~ ')' : 'none' }};

      /* card-content-blocks */
      --card-content-block-gap: {{module.style.content_block_styles && module.style.content_blocks_gap is truthy ? module.style.content_blocks_gap ~ 'px' : 'var(--card-content-gap)'}};

      --card-top-block-background: {{module.style.content_block_styles && module.style.top_content_block.background_color.css is truthy ? module.style.top_content_block.background_color.css : 'initial'}};
      --card-top-block-border: {{module.style.content_block_styles && module.style.top_content_block.border.css && module.style.top_content_block.border.top.width.value is truthy ? module.style.top_content_block.border.css|cut('border:') : 'none'}};
      --card-top-block-border-radius: {{module.style.content_block_styles && module.style.top_content_block.border_radius is truthy ? module.style.top_content_block.border_radius ~ "px" : 0}};
      --card-top-block-padding: {{module.style.content_block_styles && module.style.top_content_block.spacing.css is truthy ? padding(module.style.top_content_block.spacing) : 0}};

      --card-bottom-block-background: {{module.style.content_block_styles && module.style.bottom_content_block.background_color.css is truthy ? module.style.bottom_content_block.background_color.css : 'initial'}};
      --card-bottom-block-border: {{module.style.content_block_styles && module.style.bottom_content_block.border.css && module.style.bottom_content_block.border.top.width.value is truthy ? module.style.bottom_content_block.border.css|cut('border:') : 'none'}};
      --card-bottom-block-border-radius: {{module.style.content_block_styles && module.style.bottom_content_block.border_radius is truthy ? module.style.bottom_content_block.border_radius ~ "px" : 0}};
      --card-bottom-block-padding: {{module.style.content_block_styles && module.style.bottom_content_block.spacing.css is truthy ? padding(module.style.bottom_content_block.spacing) : 0}};

      {% if module.style.general.background_type == 'background_image'  %}
        {{module.style.general.background_image.css}}
      {% elif module.style.general.background_type == 'background_gradient' %}
        background: {{module.style.general.background_gradient.css}};
      {% endif %}
    }
  {% end_scope_css %}
</style>

{# stretched_link #}
{% if module.whole_area_link and module.heading.enable_heading_link and module.heading.heading_link.url.href %}
  {% set heading_stretched_link = true %}
{% elif module.whole_area_link %}
  {% set btn_stretched_link = true %}
{% endif %}

{%- macro render_image() -%}
  {% if module.image_type == 'full_width' %}
    {{fullWidthImage.render(module.full_width)}}
  {% elif module.image_type == 'image' %}
    {{simpleImage.render(module.image)}}
  {% elif module.image_type == 'icon' %}
    {{icon.render(module.icon, module)}}
  {% elif module.image_type == 'lottie' %}
    {{lottie.render(module.lottie, module)}}
  {% endif %}
{%- endmacro -%}

<div class="card2-module">
  <div class="content-block-top">
    {% for item in module.components %}
      {% if item.component|lower == 'image' %}
        {{render_image()}}
      {% elif item.component|lower == 'heading' %}
        {{heading.render(module)}}
      {% elif item.component|lower == 'subheading' %}
        {{subheading.render(module)}}
      {% elif item.component|lower == 'text' %}
        {{text.render(module)}}
      {% elif item.component|cut(" ")|lower == 'richtext' %}
        {{richtext.render(module)}}
      {% elif item.component|lower == 'separator' %}
        </div>
        <div class="content-block-bottom">
      {% elif item.component|lower == 'buttons' %}
        {{buttons.render(module.buttons, module.style, module)}}
      {% elif item.component|cut(" ")|lower == 'additionalimages' %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{# add base styles to module previewer #}
{% if is_in_module_previewer %}
  {{require_css(get_asset_url("../../css/base.css"))}}
  {{require_css(get_asset_url("../../css/global-theme-settings.css"))}}
{% endif %}
