<!--
  label: partials -> components -> lottie.html
  templateType: "none"
  isAvailableForNewContent: false
-->
{%- macro lottie_dimensions(data) -%}
  {%- if data.lottie_width is integer -%}
    width="{{data.lottie_width}}"
  {%- endif -%}
  {%- if data.lottie_height is integer -%}
    height="{{data.lottie_height}}"
  {%- endif -%}
  {%- if data.lottie_scale is float -%}
    style="--lottie-custom-scale: scale({{data.lottie_scale}});"
  {%- endif -%}
{%- endmacro -%}

{%- macro lottie_macro(data) -%}
  {%- if data.lottie_file -%}
    {% require_js %}
      <script type="module">
        import { DotLottie } from "https://cdn.jsdelivr.net/npm/@lottiefiles/dotlottie-web@0.40.0/+esm";
        function runDotLottie () {
          const dotLottieCanvas = document.getElementsByClassName('dotlottie-canvas')
          if (!dotLottieCanvas) return
          for (const item of dotLottieCanvas) {
            // set lottie alignment based on scope alignment
            let lottieAlignment = window.getComputedStyle(item.closest('[class*="scope-root"]')).getPropertyValue('--scope-alignment')
            if (lottieAlignment === 'start') {
              lottieAlignment = [0, 0.5]
            } else if (lottieAlignment === 'center') {
              lottieAlignment = [0.5, 0.5]
            } else if (lottieAlignment === 'end') {
              lottieAlignment = [1, 0.5]
            } else {
              lottieAlignment = [0, 0.5]
            }
            // initialize dotLottie
            const dotLottie = new DotLottie({ // eslint-disable-line
              loop: item.hasAttribute('data-loop'),
              speed: item.dataset.speed,
              mode: item.dataset.mode,
              autoplay: true,
              layout: {
                fit: 'contain',
                align: lottieAlignment
              },
              canvas: item,
              src: item.dataset.lottieSrc
            })
            // dotLottie load event
            dotLottie.addEventListener('load', (event) => {
              // run animation when in browser view
              const observer = new window.IntersectionObserver(function (entries) {
                entries.forEach(entry => {
                  if (entry.isIntersecting) {
                    dotLottie.play()
                  } else {
                    dotLottie.pause()
                  }
                })
              })
              for (const elem of dotLottieCanvas) {
                observer.observe(elem)
              }
            })
          }
        }
        // run dotLottie when document is ready
        if (document.readyState === 'loading') {
          document.addEventListener('DOMContentLoaded', runDotLottie)
        } else {
          runDotLottie()
        }
      </script>
    {% end_require_js %}
    {# common styles for lottie macro #}
    {% require_css %}
      <style data-component="lottie">
        .lottie {
          width: 100%;
          height: 100%;
          object-fit: contain;
          transform: var(--lottie-custom-scale, scale(1));
        }
      </style>
    {% end_require_css %}
    <canvas data-component="lottie" class="lottie dotlottie-canvas"
      {{lottie_dimensions(data)}}
      data-lottie-src="{{data.lottie_file}}"
      data-speed="{{data.lottie_speed}}"
      data-mode="{{data.lottie_mode}}"
      {{"data-loop" if data.lottie_loop}}>
    </canvas>
  {%- endif -%}
{%- endmacro -%}
