<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{% import '../components/simple-image.html' %}
{% import '../components/full-width-image.html' %}
{% import '../components/icon.html' %}
{% import '../components/lottie.html' %}

{%- macro media_group_macro(data) -%}
  {% if data.media_type == 'full_width_image' %}
    {{full_width_image_macro(data.full_width_image_group)}}
  {% elif data.media_type == 'simple_image' %}
    {{simple_image_macro(data.simple_image_group)}}
  {% elif data.media_type == 'icon' %}
    {{icon_macro(data.icon_group)}}
  {% elif data.media_type == 'lottie' %}
    {{lottie_macro(data.lottie_group)}}
  {% endif %}
{%- endmacro -%}
