<!--
  label: partials -> components -> simple-text.html
  templateType: "none"
  isAvailableForNewContent: false
-->
{%- macro simple_text_macro(data) -%}
  {%- if data.simple_text -%}
    {# common styles for simple text macro #}
    {% require_css %}
      <style data-component="simple-text">
        .simple-text-wrp {
          text-align: var(--scope-alignment);
        }
        .simple-text {
          transition-property: color;
          transition-duration: var(--root-transition-duration);
          transition-timing-function: var(--root-transition-timing-function);
          display: inline-block;
        }
      </style>
    {% end_require_css %}

    <div data-component="simple-text" class="simple-text-wrp">
      <span class="simple-text">{{data.simple_text}}</span>
    </div>
  {%- endif -%}
{%- endmacro -%}
