/* module css / no hubl variables */

.basic-grid.product-listing-module__products {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}

/* mosaic-grid */
.mosaic-grid.product-listing-module__products {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}

.mosaic-grid-box {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.mosaic-grid .product-listing-module__product_wrp {
  width: 50%;
}

.mosaic-grid .product-listing-module__product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.product-listing-module__product-item {
  position: relative;
  z-index: 2;
}

.mosaic-grid .product-listing-module__product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mosaic-grid .product-listing-module__product-image .g-module-macros-image {
  display: inline-block;
  height: 100%;
}

.mosaic-grid .product-listing-module__product-image .g-module-macros-image--img {
  max-width: 100%;
  height: 100% !important;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .mosaic-grid .product-listing-module__product_wrp {
    width: 40%;
  }

  .mosaic-grid-box {
    width: 60%;
  }

  .mosaic-grid-box .product-listing-module__product_wrp {
    width: 50%;
  }
}

@media (max-width: 991.98px) {
  .mosaic-grid .product-listing-module__product_wrp {
    width: 100%;
  }

  .mosaic-grid-box {
    width: 100%;
  }

  .mosaic-grid-box .product-listing-module__product_wrp {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .mosaic-grid-box .product-listing-module__product_wrp {
    width: 100%;
  }
}

/* Products pagination */
.products-list-footer {
  width: 100%;
  padding: 20px;
}

.products-list-item-of-items,
.products-list-page-of-pages {
  padding-bottom: 10px;
}

.products-list-pagination-wrp {
  align-items: center;
  display: flex;
  justify-content: center;
}

.productlist-module__pagination-link,
.productlist-module__pagination-page-link .g-module-macros-link {
  padding: 10px;
}

.productlist-module__pagination-page-link--disabled .g-module-macros-link {
  color: #888;
  cursor: default;
  pointer-events: none;
  fill: #888;
}

.productlist-module__pagination-page-link--active .g-module-macros-link {
  border-style: solid;
  border-width: 1px;
}

@media (max-width: 575.98px) {
  .productlist-module__pagination-link .g-module-macros-link__text {
    display: none;
  }
}

/* Product list */
.product-listing-module__product-image img {
  object-position: 50% 50%;
  object-fit: contain !important;
  height: 300px !important;
}

.product-listing-module__product-image span {
  display: flex;
  justify-content: center;
  width: 100%;
}
