name: Run tests

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, edited, reopened, synchronize]

jobs:

  build:
    name: Node
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        node: [18, 20]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js v${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - run: npm ci
      - run: npm test

      - name: PKG versions
        run: |
          node -v
          npm -v
